extends ../layout

block content
  div(style="background-color:#000;margin-top:-21px;").hidden-xs: .container: .profile-header.text-center(style='height: 25pc;background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75)),url(/img/event/g7F7NCyYyC/header.png);background-size:contain;background-repeat:no-repeat;background-position:center;')

  div(style="background-color:#000;margin-top:-21px;").hidden-sm.hidden-md.hidden-lg
    img(style="width:100%;", src="/img/event/g7F7NCyYyC/header.png")

  #profile.page: .container: .row
    .col-xs-10.col-xs-offset-1
      .row: .col-xs-12
        h1(style="font-weight:200;font-size:38px;color:#000") A Bug Free Mind
        p(style="font-weight:200;font-size:18px;color:#000") May 2016, Las Vegas
    .col-xs-10.col-xs-offset-1
      .row
        .col-xs-12.col-sm-9
          h2 Details
          p
            | Hosted by You Will Change The World for members of A Bug free
            | Mind's mastermind group. This is a thrilling social event
            | with a twist; an 'escape room' challenge. Members will be put in
            | random teams to take on the specially crafted escabe rooms by
            | Live Game Escape in Las Vegas.
          p
            | YES, You Will Change the World, the ultimate online platform for 
            | experts, authors & thought leaders dedicated to mentoring & 
            | sharing is sponsoring the ANNUAL MASTERMIND. Committed to 
            | expanding your BOX & making you step out of it we bring you the 
            | ultimate “ESCAPE ROOM ADVENTURE”.
            ul
              li 12 teams.
              li 63 people. 
              li Prizes and bragging rights.
              li Teams selected at random.
              li Rooms assigned at venue.
              li You MUST be a participant of the mastermind.
            | Sign ups begin Monday 
            | MARCH 21st 2016 for attendees ONLY. We will be bringing in author 
            | Joe Frazzetti of “Master or Servant” to autograph books and share 
            | “The Four Rules of the Mind”, perfect & necessary for this 
            | adventure.
        .col-xs-12.col-sm-3
          //if open
            a(href="#", data-toggle="modal", data-target="#rsvp-modal", style="margin-top:25px;").btn.btn-lg.btn-primary.expand RSVP Now
      .row
        .col-xs-12
          h2 Images
        .col-xs-12.col-sm-3
          img(src="/img/event/g7F7NCyYyC/RESCUE_Poster.jpg").img-responsive
        .col-xs-12.col-sm-3
          img(src="/img/event/g7F7NCyYyC/Peek-A-Boo_v2.jpg").img-responsive
        .col-xs-12.col-sm-3
          img(src="/img/event/g7F7NCyYyC/White_Lies_Poster.jpg").img-responsive
        .col-xs-12.col-sm-3
          img(src="/img/event/g7F7NCyYyC/Empress_of_the_Globe_Poster.jpg").img-responsive
  .container: #rsvp-modal.modal.fade: .modal-dialog: .modal-content
    form#event-form(action="/events/2016-05-a-bug-free-mind-las-vegas", method="POST")
      .modal-header
        button(data-dismiss="modal").close: span &times;
        h4.modal-title RSVP for A Bug Free Mind
      .modal-body
        .row
          .col-xs-6: .form-group
            input(type="text", name="firstname", placeholder="first name", value=((user && user.given_name) ? user.given_name : ''), required).form-control
          .col-xs-6: .form-group
            input(type="text", name="lastname", placeholder="last name", value=((user && user.family_name) ? user.family_name : ''), required).form-control
        .row: .col-xs-12: .form-group
          input(type="email", name="email", placeholder="email", value=((user && user.email) ? user.email : ''), required).form-control
        .row
          .col-xs-4: .form-group
            label(style="margin-top:6px;") Choose a Shirt:
          .col-xs-4: .form-group
            select(name="shirtGender", required).form-control
              option(value="female") Female
              option(value="male") Male
          .col-xs-4: .form-group
            select(name="shirtSize", required).form-control
              option(value="small") Small
              option(value="medium") Medium
              option(value="large") Large
              option(value="xlarge") X Large
              option(value="2xlarge") 2X Large
        .row: .col-xs-12
          input#event-code(type="text", name="code", placeholder="code", required).form-control
          .checkbox: label
            input(type="checkbox", value="member-agreement", required)
            | I am a member of the 'A Bug Free Mind' annual mastermind.
      .modal-footer
        button(data-dismiss="modal").btn.btn-default Close
        input(type="submit", value="RSVP").btn.btn-primary
        
  script.
    
