extends ../layout

block content

  div(style="background-color:#000;margin-top:-21px;").hidden-xs: .container(style='height: 25pc;background:url(/img/event/HHH8BSLNfV/sept-header.png);background-size:cover;background-repeat:no-repeat;background-position:center;')

  div(style="background-color:#000;margin-top:-21px;").hidden-sm.hidden-md.hidden-lg
    img(style="width:100%;", src="/img/event/HHH8BSLNfV/sept-header.png")


  // div(style="width=100%;background-color:#EEE")
    .row: .container
      .col-xs-10.col-xs-offset-1
        li: a(href="#overview") Overview
        li: a(href="#eventDetails") Event Details
        li: a(href="#aboutUs") About Us
        li: a(href="#tickets") Tickets
        li: a(href="#sponsorships") Sponsorships
        li: a(href="#location") Location
        li: a(href="#accomodations") Accomodations



  #profile.page
    .row: .container

      .col-xs-10.col-xs-offset-1

        .row(style="height:20px")

        .text-right
          include ../partials/social


        .row(style="height:20px")

        // .row
          .col-xs-12.col-xs-offset-2
            .sept-event-counter.img-responsive(style="margin: 0 auto")

        // .row
          .col-xs-12.text-center
            h3
             p left until <b>You Will Change The World's</b>

        .row
          .col-xs-12.text-center
            h1(style="color:#337AB7") <b>The Personal Branding Mastermind</b>
            h2(style="color:#337AB7") September 17th - 20th, 2016
            a(href="https://nd306.infusionsoft.com/app/orderForms/Social-Entrepreneur-Summit---Sept-2016---Registration" target="_blank").btn.btn-lg.btn-primary.expand <b>Register Now!</b>

        .row(style="height:20px")

        .row: .col-xs-12
          .embed-responsive.embed-responsive-16by9
            <iframe width="854" height="480" src="https://www.youtube.com/embed/clq2xEc2ccY" frameborder="0" allowfullscreen></iframe>

        .row(style="height:20px")

    #overview
    .row(style="background-color:#EEE"): .container
      .col-xs-10.col-xs-offset-1

        .row(style="height:20px")

        .row: .col-xs-12.text-center
          h1 <b>WE ARE THE CURATORS OF LEGACY</b>

        .row: .col.xs-12.text-center
          h3 <b>What would you do if you had  more time &  financial freedom?</b>
          h3 <b>Would that make a difference in your life & your families'?</b>
          h3 <b>Do you absolutely love what you do and are you ready to share it with the world?</b>
          h3 <b>Would you like to share your expertise with your community?</b>
          h3 <b>Do you want to grow your audience and create a lasting impact?</b>
          br
          br
          h3 <b>Join an elite group of respected leaders and mentors.</b>
          h3 <b>Learn the fundamentals of Personal Branding.</b>
          h1 <b>CREATE YOUR LEGACY NOW</b>

        .row(style="height:20px")

    .row(style="background-color:#f04124"): .container
      .col-xs-10.col-xs-offset-1

        .row(style="height:20px")

        .row(style="color:#FFF"): .col-xs-12
          h2 <b>Here’s a Sneak Peak of What You Will Learn:</b>
          ul
            li: h3 The Secrets of Copywriting
            li: h3 How To Leverage Your Brand Using Social Media
            li: h3 The Steps of Profitable Course Creation
            li: h3 Top Money Making LinkedIn Strategies
            li: h3 Google Adwords Simplified
            li: h3 And Much More!

        .row(style="height:20px")

    .row: .container
      .col-xs-10.col-xs-offset-1

        .row(style="height:20px")

        .row: .col-xs-12.text-center
          h3 <b>There are stories and there are legends.</b>
          h3 <b>What do you choose to be?</b>

        .row(style="height:20px")

        .row: .col-xs-12.text-center
          h4
            p Every day you create your story. Every day you are doing something
              | meaningful that could benefit another human being. <b>Your knowledge is valuable</b>
              | and it needs to be shared and documented so that others around the world will
              | have an even greater opportunity for success.
            br
            p If you have impacted an industry, a community, or even a single person...
            br
            p Share your wisdom. Lead the change.

        .row: .col-xs-12
          h4
            p Your brand is what your audience <b>BELIEVES</b> about you. It’s what people
              | hear and say about you when you’re not around.
            br
            p Your <b>LEGACY</b> is what they <b>REMEMBER</b>. Make sure your message is clear.
            br
            p What sets successful brands apart from the rest? They understand that trends
              | don’t last and truths don’t lie.
            br
            p If you are not listening, if you are not interacting, if you are not
              | connecting with the <b>RIGHT</b> people in the <b>RIGHT</b> way, you will never build your brand value.
            br
            p There’s an important problem that you’re solving. There are millions out there
              | struggling with that same problem and thankfully, <b>YOU</b> have the solution.
            br
            p So what are you doing to make sure that as many people as possible are gaining access
              | to this knowledge? With countless websites out there, how will you even stand
              | the chance of being found?

        .row(style="height:20px")

        .row: .col-xs-12.text-center
          h3 <b>That’s a problem.</b>
          h2 <b>We are the solution.</b>
          h3 <b>Are you ready to start taking control of your legacy?</b>
          br
          a(href="https://nd306.infusionsoft.com/app/orderForms/Social-Entrepreneur-Summit---Sept-2016---Registration" target="_blank").btn.btn-lg.btn-primary.expand <b>I AM READY!</b>

        .row(style="height:40px")

    #eventDetils
    .row(style="background-color:#EEE"): .container
      .row: .col-xs-12
        h2(style="color:#337AB7")
          p <b>Event Details</b>

      // .row
        .col-xs-12.col-xs-offset-3
          .sept-event-counter2.img-responsive(style="margin: 0 auto")

      .col-xs-10.col-xs-offset-1

        .row(style="height:20px")

        .row: .col-xs-12.text-center
          h1: p <b>On September 17- 20, 2016 you will embark on a four day journey to establishing
                | your legacy-- your personal brand.</b>

        .row: .col-xs-12
          h3: p <b><u>The Personal Branding Mastermind: Sept 17- 18</u></b>
          h4: p Join us at The Personal Branding Mastermind where industry experts will share how authors,
                | thought leaders and influencers can build their brand for maximum impact.
                | In this free two-day event, you will learn how to:
          h4: p 1) Identify and Design Your Brand
          h4: p 2) Build the Support Systems and Processes Necessary for Long-term Success
          h4: p 3) Launch Your Idea to The World
          h4: p 4) Create Marketing that Inspires and Engages
          h4: p 5) Grow Your Brand and Your Culture Easily and Strategically

        .row: .col-xs-12
          h4: p Where is the future of education? Where is the future of history? It’s all online.
                | The only way survive is to always be one step ahead. We paved the path, now will you take the step?

        .row(style="height:20px")


        .row: .col-xs-12
          .col-sm-6
            .panel.panel-default(style="border-color:#337AB7;border-width:2px;border-radius:10px")
              .panel-heading(style="background-color:#337AB7").text-center
                h2(style="color:white") Special Invitation Admission
              .panel-body(style="padding:10px;")
                // h2.text-center <b>FREE</b>
                ul(style="font-size:18px")
                  li Complimentary Tickets to Day 1 & 2 of Personal Branding Mastermind
                  li Meet the Speakers
                  li Exclusive Networking Opportunities
                  li Access to Special Offers and Prizes
                  li Gourmet Lunch Options for $39 Both Days
                br
                a(href="https://nd306.infusionsoft.com/app/orderForms/Social-Entrepreneur-Summit---Sept-2016---Registration" target="_blank").btn.btn-lg.btn-primary.expand <b>Purchase Now</b>

          .col-sm-6
            .panel.panel-default(style="border-color:#000;border-width:2px;border-radius:10px")
              .panel-heading(style="background-color:#000").text-center
                h2(style="color:white") VIP Upgrade Package
              .panel-body(style="padding:10px;")
                // h2.text-center <b>$299</b>
                ul(style="font-size:18px")
                  li Front of Class Seating
                  li 2 Gourmet Lunches
                  li 2 VIP Dinners
                  li Professional Photo Ops with Speakers
                  li Personal Time with Peter Anthony and The YCWTW team
                br
                a(href="https://nd306.infusionsoft.com/app/orderForms/Social-Entrepreneur-Summit---Sept-2016---VIP-Registration" target="_blank").btn.btn-lg.btn-primary.expand <b>Purchase Now</b>


        .row(style="height:20px")

        .row
          .col-xs-12.text-center
            .panel.panel-default(style="border-color:#337AB7;border-width:2px;border-radius:10px")
              .panel-heading(style="background-color:#337AB7").text-center
                h2(style="color:white") Instant Credibility Package
              .panel-body(style="padding:10px")
                .col-xs-12.col-sm-6
                  img(src="/img/event/HHH8BSLNfV/pr_package.png").img-responsive
                .col-xs-12.col-sm-6
                  // h2.text-center <b>$3,797</b>
                  br
                  br
                  ul(style="font-size:18px").text-left
                    li VIP Package Plus
                    li Interview with 2-time Emmy Award Winner John Burke
                    li Two Professional videos
                    li PR Release to Over 100 Sites and News Stations
                    li Discounted Early Bird Pricing
                    br
                    a(href="https://nd306.infusionsoft.com/app/orderForms/PBM-Instant-Credibility-Package" target="_blank").btn.btn-lg.btn-primary.expand <b>Purchase Now</b>

        .row(style="height:20px")


        .row: .col-xs-12
          h3: p <b><u>Course Creation Mastermind: Sept 19 - 20</u></b>
          h4: p For those who are serious about creating your personal legacy NOW, we invite you to sit with the
                  | masters in this two-day intensive in online course creation.
          h4: p This powerful mastermind is your roadmap to unleashing the legend within. Peter Anthony takes
                  | you on a journey through all your life’s work-- your struggles, your triumphs, your values,
                  | and your truths-- and will teach you how to write an unforgettable hero’s journey and create
                  | impactful lessons that will last for lifetimes.
          h4: p Here’s a preview of what you can expect:

        .row: .col-xs-12
          h3 <b>Day 3:</b>
          ul(style="font-size:16px")
            li Eliminate the frustrations of figuring it all out on your own
            li Become part of an elite group of respected leaders and mentors
            li Establish yourself at the top of your field
            li Experience a climactic journey that explores realms of your mind and transcends that into a product that you can make immediate residual income.
          h3 <b>Day 4:</b>
          ul(style="font-size:16px")
            li Complete your online course outline
            li Get inspired from the stories of other successful authors and entrepreneurs
            li Get inspired and gain clarity towards building your legacy
            li Understand the entire online course process from concept to creation and leave with an outline for your course.

        .row(style="height:20px")

        .row
          .col-xs-12.text-center
            .panel.panel-default(style="border-color:#000;border-width:2px;border-radius:10px")
              .panel-heading(style="background-color:#000").text-center
                h2(style="color:white") Full Four Day Mastermind
              .panel-body(style="padding:10px")
                .col-xs-12.col-sm-6
                  img(src="/img/event/HHH8BSLNfV/mastermind.png").img-responsive
                .col-xs-12.col-sm-6
                  h4 <b>* For new and existing instructors only</b>
                  ul(style="font-size:18px").text-left
                    li VIP Upgrade Package
                    li Two Full Days of The Course Creation Mastermind
                    li Learn the Entire Online Course Creation Process from Peter Anthony Himself
                    li Leave With a Full Outline of Your Course So You Can Launch it Immediately!
                    br
                    a(href="https://nd306.infusionsoft.com/app/orderForms/Personal-Branding-Mastermind---Sept-2016---4-Day-Mastermind" target="_blank").btn.btn-lg.btn-primary.expand <b>Purchase Now</b>

        .row(style="height:20px")

    #aboutUs
    .row: .container
      .row: .col-xs-12
        h2(style="color:#337AB7")
          p <b>About Us</b>

      .col-xs-10.col-xs-offset-1

        .row: .col-xs-12.text-center
          h1 <b>WE ARE THE CURATORS OF LEGACY</b>

        .row: .col-xs-12
          h4
            p <b>At You Will Change The World, our mission is to</b> help you live your expertise while we
              | will passionately progress the technology that supports it. Simplified, YWCTW is building
              | the most technologically advanced internet platform and culture to promote and protect your
              | online course and ALL associated IP.  We are completely dedicated to the support of your entire
              | business model that allows you the greatest time freedom and highest level of profit and long
              | term residual income available anywhere in the world. We recognize that your image and first
              | impression is the foundation of your growth. YWCTW is excited to create not only the greatest
              | cultural platform in the world for your course, but the most exciting user experience available
              | for your students. We will buy back their course and sell it ourselves. (We will buy back the property; it will transfer completely to YWCTW).

        .row(style="height:20px")

        .row: .col-xs-12
          h2 <b>Our Values</b>
          ul(style="font-size:18px")
            li <b>Truth:</b> You can never get to where you're going if you don’t know where you are!
            li <b>Education:</b> Once you know where you want to go, you will need to develop the skills for the journey
            li <b>Leadership:</b> Once you have the skills to succeed, it is our belief that sharing them is the greatest form of leadership.
            li <b>Humility:</b> Great leaders always assess themselves throughout the journey. They are lifelong learners. Once they reach the top, they go back to “truth” and start again.

        .row(style="height:20px")

    #testimonials
    .row(style="background-color:#EEE"): .container
      .row: .col-xs-12
        h2(style="color:#337AB7")
          p <b>Testimonials</b>

      .col-xs-10.col-xs-offset-1
        .row(style="height:20px")

        // testimonials
        .row: .col-xs-12
          .col-xs-12.col-sm-6
            .embed-responsive.embed-responsive-16by9
              <iframe width="854" height="480" src="https://www.youtube.com/embed/daUmuhc3DDo" frameborder="0" allowfullscreen></iframe>
          .col-xs-12.col-sm-6
            .embed-responsive.embed-responsive-16by9
              <iframe width="854" height="480" src="https://www.youtube.com/embed/e9BgorFYZDA" frameborder="0" allowfullscreen></iframe>

        .row(style="height:20px")

        .row: .col-xs-12
          .col-xs-12.col-sm-6
            .embed-responsive.embed-responsive-16by9
              <iframe width="854" height="480" src="https://www.youtube.com/embed/JqlAlY39Ujo" frameborder="0" allowfullscreen></iframe>
          .col-xs-12.col-sm-6
            .embed-responsive.embed-responsive-16by9
              <iframe width="854" height="480" src="https://www.youtube.com/embed/UIkBR1NTyp0" frameborder="0" allowfullscreen></iframe>

        .row(style="height:20px")

    #sponsorship
    .row: .container
      .row: .col-xs-12
        h2(style="color:#337AB7")
          p <b>Sponsorship</b>

      .col-xs-10.col-xs-offset-1
        .row
          .col-xs-12.col-sm-12
            h4
              p As a sponsor for You Will Change the World, you will have the opportunity to have your business showcased at the
                | Personal Branding Summit to hundreds of attendees that are 6 to 7 figure business owners and entrepreneurs
                | with a powerful social influence.

        .row
          .col-xs-12.col-sm-12
            h4 Deliverables​from the event will be:
            ul(style="font-size:18px")
              li Exposure to a pre­qualified audience of business professionals and entrepreneurs interested in products and tools to grow their business.
              li Verbal, Digital, and Print Marketing to hundreds of potential clients.
              li Positive and influential mentors in attendance.

        .row
          .col-xs-12.col-sm-12
            h4
             p Please call (702) 816-5797 for more information on sponsorship opportunities

        .row(style="height:20px")

        .row: .col-xs-12
          a.btn.btn-info.btn-lg(href="/files/SESEventSponsorship.pdf" target="_blank").expand Sponsorship Information

        .row(style="height:20px")


    #location
    .row(style="background-color:#EEE"): .container
      .row: .col-xs-12
        h2(style="color:#337AB7")
          p <b>Location</b>

      .col-xs-10.col-xs-offset-1
        .row: .col-xs-12
          h3
            p International Peace Education Center (IPEC)
            p 6590 Bermuda Rd
            p Las Vegas, NV 89119
            p 702.970.2000
        .row: .col-xs-12.text-center(style="margin: 0 auto")
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.985515363641!2d-115.15439984831194!3d36.06945738000803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c586319c7d13%3A0x1d32f5d71aadbb36!2sInternational+Peace+Education+Center!5e0!3m2!1sen!2sus!4v1466020842105" width="945" height="440" frameborder="0" style="border:0" allowfullscreen></iframe>

        .row
          .col-xs-12
            img(src="/img/event/HHH8BSLNfV/ipec-small.jpeg").img-responsive

        .row(style="height:20px")

    #accomodations
    .row: .container
      .row: .col-xs-12
        h2(style="color:#337AB7")
          p <b>Accommodations</b>

      .col-xs-10.col-xs-offset-1
        .row
          .col-xs-12.col-sm-6
            h4.text-center
              p Book your accommodations on property at IPEC Las Vegas.
              br
              p Special Event Super Saver Discount of only $100 per night when you purchase your ticket to The Personal Branding Mastermind.
              br
              p Call Ashley at <b>1-866-982-6222</>
              br
              p or
              a(href="https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=14777732" target="_blank") Book online
              br
              p The code is: IPEC2016


          .col-xs-12.col-sm-6
            img(src="/img/event/HHH8BSLNfV/IPEC-room.jpg").img-responsive

        .row(style="height:20px")