extends ../layout

block content

  #profile.page: .container: .row

      .row
        .col-xs-12
          img(src="/img/event/nuclearMarketingMastermind/2017-07-lv.jpg").img-responsive(style="margin: 0 auto")