extends ../layout

block content

  #profile.page
    .row: .container

      .col-xs-12

        .row(style="height:5px")

          .text-center
            include ../partials/social

        .row(style="height:10px")

        .row: .col-xs-12
          .col-xs-12.text-center
            h1(style="font-size:68px;font-weight:100") Online Course Creation Mastermind
            h4 The #1 place to learn "The Secrets" of Online Course Creation, How to Launch, and Market Successfully

        .row(style="height:20px")

        .row: .col-xs-12
          .col-xs-12.col-sm-8
            .row
              .embed-responsive.embed-responsive-16by9
                <iframe width="854" height="480" src="https://www.youtube.com/embed/-IE_CkMf1cw" frameborder="0" allowfullscreen></iframe>
                // <iframe width="854" height="480" src="https://player.vimeo.com/video/191242925" frameborder="0" allowfullscreen></iframe>
            .row(style="height:10px")
            .row
              a(href="http://www.youwillchangetheworld.com/courses/paw-what-to-expect-at-our-mastermind").btn.btn-lg.btn-success.expand <b>Would you like to see more?</b>

          .col-xs-12.col-sm-4
            img(src="/img/event/HHH8BSLNfV/youwantmore.png").img-responsive
          //
            .row(style="height:80px")
              .col-xs-12.col-sm-3
                img(src="/img/instructors/become/identify-design.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
              .col-xs-12.col-sm-9.text-center
                h2 <b>Identify & Design</b>
            .row(style="height:80px")
              .col-xs-12.col-sm-3
                img(src="/img/instructors/become/build.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
              .col-xs-12.col-sm-9.text-center
                h2 <b>Build</b>
            .row(style="height:80px")
              .col-xs-12.col-sm-3
                img(src="/img/instructors/become/launch.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
              .col-xs-12.col-sm-9.text-center
                h2 <b>Launch</b>
            .row(style="height:80px")
              .col-xs-12.col-sm-3
                img(src="/img/instructors/become/market.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
              .col-xs-12.col-sm-9.text-center
                h2 <b>Market</b>
            .row(style="height:80px")
              .col-xs-12.col-sm-3
                img(src="/img/instructors/become/grow.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
              .col-xs-12.col-sm-9.text-center
                h2 <b>Grow</b>

        .row(style="height:20px")

    a(href="https://nd306.infusionsoft.com/app/storeFront/showProductDetail?productId=75" target="_blank")
      .row(style="background-color:#f04124;color:#FFF"): .container
        .col-xs-12
          .row: .col-xs-12.text-center
            h2 <b>Next Event:</b> London, UK - February 18th – 19th , 2017 &nbsp;&nbsp;&nbsp;<b>Purchase Now</b>

          .row(style="height:10px")

    .row(style="background-color:#EEE"): .container

      .row(style="height:10px")

      .row: .col-xs-12.text-center
        h1(style="font-size:58px;font-weight:100") This Mastermind Is For You!

      .row: .col-xs-12.text-center
        h2 <b>Authors • Speakers • Entrepreneurs • Leaders</b>

      .row: .col.xs-12
        h3 You are tired of having your time stolen from you. Time is your most precious commodity, it is the
          | one thing that you cannot live without and the one thing you cannot buy more of, UNTIL NOW! When you have
          | more time, you can:

      .row: .col-xs-12

        ul(style="font-size:18px")
          li Create &amp; Share Your Expertise Easily
          li More time to enjoy your financial freedom
          li More time to share your expertise with others
          li More time with your children and family

      .row: .col-xs-12.text-center
        h2(style="font-size:46px;font-weight:100") Peter Anthony Will Help You Get Back Your TIME

      .row: .col.xs-12
        h3 Would that make a difference in your life, would it make a difference in your families' experience?
          | <b>If you are reading this, YOU ARE AN EXPERT and you absolutely love what you do.</b> Are you ready
          | to share it with your clients, employees, colleagues, your community, others looking to grow and prosper,
          | are you ready to share it with the world?
        ul(style="font-size:18px")
          li Do you want to grow your audience and create a lasting CHANGE?
          li Do you want to GROW your Digital Audience and create lasting INCOME?

      .row: .col-xs-9(style="margin: 0 auto;float: none;")

        h4 <b><i>“It is unwise to pay too little. When you pay too much, you lose a little money, that is all. When you pay too little, you sometimes
          | lose everything because the thing you bought was incapable of doing what it was bought to do. The common law of business balance prohibits
          | paying a little and getting a lot . .”</i></b>
        h4 <b><i>― Zig Ziglar</i></b>

      .row: .col.xs-12
        h3 You see I believe that creating greater value, enhancing your legacy, sharing your expertise and mentorship is an incredible honor and
          | great responsibility. I invite you to read a bit more, LEARN more about WHAT we will SHARE and HOW we will make a difference in your mission.

      .row(style="height:10px")

    .row: .container
      .col-xs-10.col-xs-offset-1

        .row(style="height:10px")

        .row: .col-xs-12.text-center
          h2(style="font-size:44px;font-weight:300") Here’s a Sneak Peak of What We Are Sharing:

        .row: .col-xs-12
          .col-xs-12.col-sm-3.vcenter
            img(src="/img/instructors/become/identify-design.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
          .col-xs-12.col-sm-9.vcenter
            h3 <b>Identify & Design</b>
            h4 Our Experts and Speakers will help you Identify Your Avatar & Design an Incredible Course to fully serve and engage them.

        .row: .col-xs-12
          .col-xs-12.col-sm-3.vcenter
            img(src="/img/instructors/become/build.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
          .col-xs-12.col-sm-9.vcenter
            h3 <b>Build</b>
            h4 We share with You our ‘Secret Sauce’ and how our platform is Built and how the Culture rewards its Instructors. We invite you to take notes,
              | you can integrate these philosophies into your own site or share in the abundance of the YWCTW Platform.

        .row: .col-xs-12
          .col-xs-12.col-sm-3.vcenter
            img(src="/img/instructors/become/launch.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
          .col-xs-12.col-sm-9.vcenter
            h3 <b>Launch</b>
            h4 Experts will walk you through the elements of a Book, Course, and Event Launch, you will completely understand how to Use Social Media tools
              | like Twitter and LinkedIn to build your brand WITHOUT becoming overwhelmed. Your Book and Your Expertise should excite you NOT create work
              | and stress. We are not saying it will be easy but it should be simple.

        .row: .col-xs-12
          .col-xs-12.col-sm-3.vcenter
            img(src="/img/instructors/become/market.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
          .col-xs-12.col-sm-9.vcenter
            h3 <b>Market</b>
            h4 Launching & Marketing are two completely different things. We help you Identify the difference and create strategies and plans
              | that help you keep these elements completely GOAL oriented.

        .row: .col-xs-12
          .col-xs-12.col-sm-3.vcenter
            img(src="/img/instructors/become/grow.png")(style="max-height:80px;margin-right:auto;margin-left:auto;").img-responsive
          .col-xs-12.col-sm-9.vcenter
            h3 <b>Grow</b>
            h4 Growth is a system, it is based on a CLEAR vision of our outcome, and Goals are reached when they are completely congruent
              | with “WHY” you have chosen the path and what the “VALUE” of your gifts are. We will share exactly what you need to do to
              | stay “Creative, Inspired, & Productive”.

        .row(style="height:20px")


    .row(style="background-color:#337AB7;color:#FFF"): .container

      .row(style="height:10px")

      .row: .col-xs-12.text-center
        h2(style="font-size:50px;font-weight:100") We call this the Online Course Creation Mastermind

      .row: .col-xs-12
        h4
          p Because your brand is what your audience BELIEVES about you. It is what people hear and say about you when you’re not around.
            | It is what they can easily research online and what they see and hear others saying about you. The great news is that
            | this is in the complete control of the person looking to become branded.
          br
          ul(style="font-size:18px")
            li SPEAKING
            li Online COURSE
            li BOOKS
            li COACHING

          p These endeavors require Branding and to truly support any of these you should be perusing ALL FOUR. No matter your level expertise
            | in mentoring YOU CAN DO THIS. Your LEGACY is what they REMEMBER. Make sure your message is clear. We are ready to help.
          br
          p What sets successful brands apart from the rest? They understand that trends don’t last and truths don’t lie. If you are not listening,
            | if you are not interacting, if you are not connecting with the RIGHT people in the RIGHT way, you will never build your brand value. We Can  Show YOU!
          br
          p IF THERE IS an important problem that you’re solving. There are millions out there struggling with that same problem and thankfully, 
            | YOU have the solution. We can BRAND THE SOLUTION and teach you how to provide abundance for your team and your family in the process.

      .row(style="height:20px")


    #eventDetils
    .row(style="background-color:#EEE"): .container


      .row: .col-xs-12.text-center
        h2(style="font-size:44px;font-weight:300") Mastermind Details

      .row(style="height:20px")

      .row: .col-xs-12.text-center
        a(href="https://nd306.infusionsoft.com/app/storeFront/showProductDetail?productId=75" target="_blank").btn.btn-lg.btn-primary.expand <b>2 Day Admission Ticket $97</b>

      .row(style="height:20px")

      .row: .col-xs-12
        img(src="/img/event/HHH8BSLNfV/day-1-text.png").img-responsive

      .row(style="height:20px")

      .row(style="height:10px")

      // .row: .col-xs-12
        img(src="/img/event/HHH8BSLNfV/day-1.png").img-responsive

      .row:.col-xs-11(style="margin-left: 50px")

        h4 Photos: <b><i>We will take Professional Photos of Each of the potential candidate Instructors</i></b>. Photos will immediately be photoshopped
          | and added to the instructor page, THIS PAGE Will then be built during the event and presented as part of the package at end of
          | day one. We are committed to YOUR SPEED TO MARKET.
        h3 <b><i>1. WHY IS AN ONLINE COURSE RIGHT FOR ME?</i></b>
        h4 During this portion Peter Anthony shares with the group EXACTLY the benefits of having an online course as it applies to;

      .row: .col-xs-12.text-center
        h4 <b>“Speakers, Celebrities, Authors, Experts, and Business Owners”</b>

      .row: .col-xs-11(style="margin-left: 50px")
        h4 We cover HOW WILL THIS MAKE ME MONEY? The direction of the Online Course Industry and how
          | “Positioning yourself in the right way” can change your business and professional life.
        h3 <b><i>2. WHAT DO I HAVE TO SHARE & WHY WOULD ANYONE CARE?</b></i>
        h4 This Exercise will take everyone in the group to a special place. Peter Anthony will share with the group EXACTLY
          | how each person can create a subject field and outline a lesson based not ONLY on their Expertise but how to instantly
          | marry that directly to their passion. You will have at least TWO Online Course Subjects to chose from on Day 2.
        h3 <b><i>3. IF PEOPLE CARE, HOW DO I GET MY STUFF PUBLISHED AND HOW WILL I MAKE MONEY?</i></b>
        h4 Of course you want to know the most important things, how do you get your idea out of your head and into a course. Once it is a course
          | how will you make money. In phase three we will explain all of these things simply and easily. First we will share with you the
          | YWCTW process to get the course created and available to the world. Then we will show you the “7 paths to Making Money with an Online Course”.
          | These will each be touched on so you leave understanding where the money is made and how you can easily access it.
        h3 <b><i>4. LETS SEE WHAT THINGS COULD LOOK LIKE IF YOU STARTED RIGHT NOW!</i></b>
        h4 Your journey is about speed to market, our commitment
          | is to get you there. Now that we have shared with you the WHY the WHAT and the HOW let’s share what getting started would look like
          | and what you will need to do TODAY to change your life forever.

      .row: .col-xs-11(style="margin-left: 50px")
        h4 <b>“Most people fail in life not because they aim too high and miss, but because they aim too low and hit.” - Les Brown</b>

      .row: .col-xs-11(style="margin-left: 50px")
        h4 Our commitment is to help you extend your reach to a better target … I will not say it is easy because clearly if it were everyone
          | would do it. It is simple though, commitment and do not stop until you accomplish the goal.  After introducing these opportunities, we will
          | help you determine which is the right one for you and if you are the right fit for the YWCTW site and program. Some of the qualities of
          | the right fit are:
        ul(style="font-size:18px")
          li Confidence
          li Passion
          li Focus
          li Commitment 

          li Are you able to INSPIRE?
          li Are you an expert and are you articulate?
          li Are you coachable?
          li Are you a leader?
        h4 Based on your decision you will return for day Two and Possibly Three.
        h4 <b>Dinner and Drinks for EXPERTS</b> moving forward.

      .row(style="height:20px")

      .row: .col-xs-12
        img(src="/img/event/HHH8BSLNfV/day-2-text.png").img-responsive

      .row(style="height:10px")

      .row(style="height:10px")

      .row: .col-xs-12
        .col-xs-12.col-sm-4
          img(src="/img/event/HHH8BSLNfV/satisfaction-guaranteed.png")(style="max-height:140px;margin-right:auto;margin-left:auto;").img-responsive
        .col-xs-12.col-sm-8
          h4(style="color:#111") <b><i> * 100% Money Back Guarantee.</b> Yes that is correct, on a THREE DAY TICKET purchase NOT ONLY will you save an additional $500.00 BUT if at the end of Day One you are not certain that this
            | is for you we will give you 100% of your money BACK. That is correct, we will refund the entire amount of the ticket price.</i>

      .row(style="height:10px")

      .row: .col-xs-11(style="margin-left: 50px")
        h3 <b><i>1. TIME TO GET TO THE PASSION OUT AND THE SYSTEM INTO PLACE.</i></b>
        h4 Your “perfect client’ is what we must help you determine. People do
          | business with people who are like themselves and in order to really get the most out of what you are doing we must first determine WHO you
          | are speaking with and WHAT they WANT from the process you are offering. we start with the AVATAR.
        h3 <b><i>2. WHAT WAS YOUR JOURNEY, LETS FIND THE HERO IN YOU!</i></b>
        h4  This exercise will take everyone in the group to a special place. Peter Anthony
          | will share with the group what the hero’s journey looks like and how this story, YOUR STORY will be the foundation of your course.
          | This is the magic that will be weaved through so people can easily relate to you because they relate to themselves.
        h3 <b><i>3. TELL ME THE 20 THINGS PEOPLE WILL LEARN.</i></b>
        h4  Peter Anthony will share with each participant how to isolate the 20 things that they will
          | share with others, 20 things that they learned that other people should or MUST know to get them through the journey. Of this segment we will
          | completely dive into how to get these 20 confidence boosters out of your head and onto a page.
        h3 <b><i>4. LET'S ASK GOOGLE & LINKEDIN.</i></b>
        h4 For this phase you will surely need your laptop or tablet. We will be sharing with you how to determine
          | the practice of setting yourself apart from the rest of the group. Peter Anthony and the YWCTW Team will help you put together the outline
          | of your idea and make sure that people are searching for those specific solutions.

        h4 <b>Overview: Now we are ready to place YOUR COMPLETED course outline into your Action Program.</b> From here we will look at the
          | additional collateral that you will need to collect for each course to be really amazing and a great experience for your future clients.

        h3 <b><i>5. LAUNCH:</i></b>
        h4 We created the outline for your script now we create the outline for the launch. YWCTW Team will walk you through the 5 simple
          | steps to the launch. This will become part of your journey and you will have the opportunity to supplement with our digital
          | support "Launching an Online Course" program.
        h3 <b><i>6. MARKET & GROW:</i></b>
        h4 <b>You have created the Course, You have Launched the Course now we place together the Market and growth of the Product.</b> This is
          | the Crucial planning stage and you will also be able to work through several Digital Courses on this specific topic. Marketing and
          | Growing simply requires a consistent plan that you execute daily. “Drive Buyers to your Online Course” is the Digital Course that you
          | will have access to for continued support.
        h4 <b>Appointments with the Masters</b> for People moving forward.

      .row: .col-xs-11(style="margin-left: 50px")
        h3 <b><i>7. Social Media Bonus </i></b>
        h4 <b>Overview: Now we are ready to place YOUR COMPLETED course outline into your Action Program.</b> From here we will look at the additional collateral
          | that you will need to collect for each course to be really amazing and a great experience for your future clients.

        h4 <b>Dinner and Drinks for EXPERTS</b> moving forward

      .row(style="height:40px")


    #testimonials
    .row(style="background-color:#337AB7"): .container

      .row: .col-xs-12.text-center
        h2(style="font-size:44px;font-weight:300;color:#FFF") Testimonials

      // testimonials
      .row: .col-xs-12
        .col-xs-12.col-sm-6
          .embed-responsive.embed-responsive-16by9
            <iframe width="854" height="480" src="https://www.youtube.com/embed/daUmuhc3DDo" frameborder="0" allowfullscreen></iframe>
        .col-xs-12.col-sm-6
          .embed-responsive.embed-responsive-16by9
            <iframe width="854" height="480" src="https://www.youtube.com/embed/e9BgorFYZDA" frameborder="0" allowfullscreen></iframe>

      .row(style="height:20px")

      .row: .col-xs-12
        .col-xs-12.col-sm-6
          .embed-responsive.embed-responsive-16by9
            <iframe width="854" height="480" src="https://www.youtube.com/embed/JqlAlY39Ujo" frameborder="0" allowfullscreen></iframe>
        .col-xs-12.col-sm-6
          .embed-responsive.embed-responsive-16by9
            <iframe width="854" height="480" src="https://www.youtube.com/embed/UIkBR1NTyp0" frameborder="0" allowfullscreen></iframe>

      .row(style="height:20px")

    #londonevents
      .row: .container

        .row(style="height:20px")

        .row
          .col-xs-12
            img(src="/img/event/HHH8BSLNfV/london-uk.png")(style="margin-right:auto;margin-left:auto;").img-responsive

        .row(style="height:10px")

        .row: .col-xs-12
          .col-xs-12
            h3 <b>Dates</b>
            .row
              .col-xs-6
                h3 February 18th – 19th , 2017
              .col-xs-6.text-right
                a(href="https://nd306.infusionsoft.com/app/storeFront/showProductDetail?productId=75" target="_blank").btn.btn-primary <b>Buy Your Tickets Now!</b>
            .row
              .col-xs-6
                h3 May 6th – 7th , 2017
              .col-xs-6.text-right
                a(href="https://nd306.infusionsoft.com/app/storeFront/showProductDetail?productId=75" target="_blank").btn.btn-primary <b>Buy Your Tickets Now!</b>
            .row
              .col-xs-6
                h3 August 26th – 27th , 2017
              .col-xs-6.text-right
                a(href="https://nd306.infusionsoft.com/app/storeFront/showProductDetail?productId=75" target="_blank").btn.btn-primary <b>Buy Your Tickets Now!</b>
            .row
              .col-xs-6
                h3 November 11th – 12th , 2017
              .col-xs-6.text-right
                a(href="https://nd306.infusionsoft.com/app/storeFront/showProductDetail?productId=75" target="_blank").btn.btn-primary <b>Buy Your Tickets Now!</b>

        .row(style="height:10px")

        .row: .col-xs-12
          .col-xs-12.col-sm-4.col-md-5
            h3 <b>Location</b>
              p Citizen M Tower

            // <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.985515363641!2d-115.15439984831194!3d36.06945738000803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c586319c7d13%3A0x1d32f5d71aadbb36!2sInternational+Peace+Education+Center!5e0!3m2!1sen!2sus!4v1466020842105" width="450" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
        .row(style="height:40px")