extends ../layout-nonav-nofooter

block head
  script.
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1039376749438257');
    fbq('track', 'PageView');
    fbq('track', 'Purchase', {
      value: '00.01',
      currency: 'USD'
    });
  noscript.
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1039376749438257&ev=PageView
    &noscript=1"/>



block content
  .event-details
    .container-fluid: .row(style="background-color:#FFF"): .container
      a#about(style="top:-50px;display:block;position:relative;visibility: hidden;")
      .row(style="height:10px")

      .row: .col-xs-12.text-center
        h2 <b>Thank You for your purchase to the Online Course Creation Mastermind</b>
        h2 <b>March 18-19, 2017</b>