extends ../layout

block content
  #events.page
    .container
      h1.text-center London, UK Events
      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2017-06-uk-mastermind', target='new', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-uk-june.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") June 24-25, 2017
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2017-09-uk-mastermind', target='new', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-uk-sept.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") September 9-10, 2017
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2017-10-uk-mastermind', target='new', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-uk-oct.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") October 14-15, 2017
      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2017-12-uk-mastermind', target='new', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-uk-dec.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") December 2-3, 2017
