extends ../layout

block content
  #events.page
    .container
      h1.text-center Las Vegas Events
      .row

        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2017-09-lv-mastermind', target='new', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-lv-sept.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") September 16-17, 2017
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2017-10-lv-mastermind', target='new', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-lv-oct.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") October 21-22, 2017
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2017-11-lv-mastermind', target='new', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-lv-nov.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") November 18-19, 2017

      .row

        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2017-12-lv-mastermind', target='new', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-lv-dec.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") December 9-10, 2017


