extends ../layout

block content
  #events.page
    .container
      h1.text-center YWCTW Upcoming Events
      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/events-lv', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-lv.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") Las Vegas, NV
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/events-ny', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-ny.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") New York, NY
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/events-uk', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-uk.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") London, UK
      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/events-dublin', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/event-card-dublin.jpg)")
            .panel-body.text-center
              h5.panel-title Online Course Creation Mastermind
              p(style="font-size:20px") Dublin, Ireland


      hr
      h1.text-center Past Events
      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2016-11-personal-branding-mastermind-las-vegas', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/nov-card.png)")
            .panel-body.text-center
              h5.panel-title The Personal Branding Mastermind
              p November 2016, Las Vegas, NV
        .col-xs-12.col-sm-6.col-md-4
          a(href='http://www.socialentrepreneursummit.co.uk', target='new' style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/ses-london-card.png)")
            .panel-body.text-center
              h5.panel-title Social Entrepreneur Summit
              p October 2016, London, UK
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2016-09-personal-branding-mastermind-las-vegas', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/sept-card.png)")
            .panel-body.text-center
              h5.panel-title The Personal Branding Mastermind
              p September 2016, Las Vegas, NV


      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2016-07-social-entrepreneur-summit-las-vegas', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/HHH8BSLNfV/card.png)")
            .panel-body.text-center
              h5.panel-title Social Entrepreneur Summit
              p July 2016, Las Vegas, NV
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2016-05-social-entrepreneur-summit-las-vegas', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/OMp2eu4mbJ/card.jpg)")
            .panel-body.text-center
              h5.panel-title Social Entrepreneur Summit
              p May 2016, Las Vegas, NV
        .col-xs-12.col-sm-6.col-md-4
          a(href='/events/2016-05-a-bug-free-mind-las-vegas', style='color:#333;'): .panel.panel-default.panel-profile
            .panel-heading(style="background-image:url(/img/event/g7F7NCyYyC/card.png)")
            .panel-body.text-center
              h5.panel-title A Bug Free Mind
              p May 2016, Las Vegas, NV