extends ../layout

block content
  #profile.page: .container: .row
    .col-xs-10.col-xs-offset-1
      h1 Build A Course &nbsp;&nbsp;&nbsp;
        small March 31, 2016
      
      h3 Thank you for attending! Below are links to download the notes and offers from the presentation.
      
      p: a(href="/files/march-31-build-a-course/you-will-change-the-world.pdf", target="_blank").btn.btn-primary.btn-lg.expand You Will Change The World
      p: a(href="/files/march-31-build-a-course/123employee.pdf", target="_blank").btn.btn-primary.btn-lg.expand 123employee
      p: a(href="/files/march-31-build-a-course/so-tell-us.pdf", target="_blank").btn.btn-primary.btn-lg.expand SoTellUs
          
