extends ../layout

block content
  #events.page
    .container: .row: .col-xs-10
      h1.text-center London Orders
      h2.text-center Full Payments
      .row
        .col-xs-6
          h2 Tenured Instructor Program
          h4 Program includes:
          ul(style="font-size:16px")
            li 2 Ultimate Course Development and Filming Packages,
            li Plus Free Course, Trailer, Social Media Promo Video, E-Book, Private Coaching, Marketing Letter, Vetting,
            li Access to Online Course Creation and LIFETIME Annual Mastermind Access
            li PLUS Show Bonuses!!
        .col-xs-6.text-center(style="padding-top:20px")
          a(href="https://nd306.infusionsoft.com/app/manageCart/addProduct?productId=61" target="_blank").btn.btn-lg.btn-primary <b>£39,997.00</b>

      .row
        .col-xs-6
          h2 Associate Instructor Program
          h4 Program includes:
          ul(style="font-size:16px")
            li 1 Ultimate Course Development and 1 Filming Package, Trailer Reel, Social Media Promo Video, Vetting,
            li Access to Online Course Creation
            li 1 year Pass to Mastermind Live Events
            li PLUS Show Bonuses!!
        .col-xs-6.text-center(style="padding-top:20px")
          a(href="https://nd306.infusionsoft.com/app/manageCart/addProduct?productId=63" target="_blank").btn.btn-lg.btn-primary <b>£23,997.00</b>

      .row
        .col-xs-6
          h2 Entry Instructor Program
          h4 Program includes:
          ul(style="font-size:16px")
           li Building the Free Course, Vetting and Access to Online Course Creation
           li 1 year pass to Mastermind Live Events
           li PLUS Show Bonuses!!
        .col-xs-6.text-center(style="padding-top:20px")
          a(href="https://nd306.infusionsoft.com/app/manageCart/addProduct?productId=65" target="_blank").btn.btn-lg.btn-primary <b>£8,897</b>

    .container: .row: .col-xs-10
      h2.text-center Payment Plans

      .row
        .col-xs-6
          h2 Tenured Instructor Program – Down Payment/Payment Plan
          h4 Program includes:
          ul(style="font-size:16px")
            li 2 Ultimate Course Development and Filming Packages, Free Course, Trailer, Social Media Promo Video, E-Book, Private Coaching, Marketing Letter, Vetting, Online Course Creation Video
            li LIFETIME Mastermind Access
            li PLUS Show Bonuses!
        .col-xs-6.text-center(style="padding-top:20px")
          a(href="https://nd306.infusionsoft.com/app/manageCart/addProduct?productId=67" target="_blank").btn.btn-lg.btn-primary <b>£24,997.00</b>

      .row
        .col-xs-6
          h2 Associate Instructor Program – Down Payment/Payment Plan
          h4 Program includes:
          ul(style="font-size:16px")
            li 1 Ultimate Course Development and 1 Filming Package, Trailer Reel, Social Media Promo Video, Vetting, Access to Online Course Creation
            li 1 year Pass to Mastermind Live Events
            li PLUS Show Bonuses!!
        .col-xs-6.text-center(style="padding-top:20px")
          a(href="https://nd306.infusionsoft.com/app/manageCart/addProduct?productId=69" target="_blank").btn.btn-lg.btn-primary <b>£15,997.00</b>

      .row
        .col-xs-6
          h2 Entry Instructor Program – Down Payment/Payment Plan
          h4 Program includes:
          ul(style="font-size:16px")
            li 1 Ultimate Course Development and 1 Filming Package, Trailer Reel, Social Media Promo Video, Vetting, Access to Online Course Creation
            li 1 year Pass to Mastermind Live Events
            li PLUS Show Bonuses!!
        .col-xs-6.text-center(style="padding-top:20px")
          a(href="https://nd306.infusionsoft.com/app/manageCart/addProduct?productId=71" target="_blank").btn.btn-lg.btn-primary <b>£5,997.00</b>
