extends ../layout

block content
  div(style="background-color:#000;margin-top:-21px;").hidden-xs: .container: .profile-header.text-center(style='height: 25pc;background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75)),url(/img/event/OMp2eu4mbJ/header.jpg);background-size:contain;background-repeat:no-repeat;background-position:center;')

  div(style="background-color:#000;margin-top:-21px;").hidden-sm.hidden-md.hidden-lg
    img(style="width:100%;", src="/img/event/OMp2eu4mbJ/header.jpg")

  #profile.page: .container: .row
    .col-xs-10.col-xs-offset-1
      .row: .col-xs-12
        h1(style="font-weight:200;font-size:38px;color:#000") Social Entrepreneur Summit
        p(style="font-weight:200;font-size:18px;color:#000") May 21, 2016 - Las Vegas
    .col-xs-10.col-xs-offset-1
      .row: .col-xs-12
        .embed-responsive.embed-responsive-16by9
          <iframe width="854" height="480" src="https://www.youtube.com/embed/5Ty53Z_DK-c" frameborder="0" allowfullscreen></iframe>
      .row
        .col-xs-12.col-sm-9
          h2 Details
          p
            | The Social Media Summit is a life changing event, consisting of presentations on new cutting edge products
            | & services with keynote speakers who will be giving you their secret success strategies. Featured speakers
            | at the event include; Peter Anthony Wynn, Glenn Dietzel, Wes Schaefer, Clint Arthur and Forbes Riley. This
            | is a must attend event, as you will not hear this exclusive knowledge to wealth building anywhere else!

          p
            | By attending the event, you will be shown how to harness the tools and resources that transform money
            | makers into millionaires. Your presence at the Social Entrepreneur Summit gives you the chance to
            | experience You Will Change the World’s Master Mentorship culture, giving you access to the decision makers
            | and social influencers that can take your endeavors to new heights.

          p
            | Take advantage of this incredible opportunity to learn:
            ul
              li Pivotal tips for creating & closing digital leads.
              li Social media secrets that generate sales.
              li Tricks of the trade that could make or break or your business.
              li How to use your network to increase your net worth.

          p
            | You Will Change the World is an online Master Mentorship platform, created by Peter Anthony Wynn, which
            | creates a leadership culture for experienced and knowledgeable mentors to share their expertise with the
            | world, through online courses.

          p
            | The Social Entrepreneur Summit will be held May 21, 2016  from 9-6pm with a VIP Breakfast from 8-9am, at
            | the IPEC building 6590 Bermuda Rd, Las Vegas, NV, 89119 United States.

        .col-xs-12.col-sm-3
          if open
            a(href="http://events.youwillchangetheworld.com/social-entrepreneurs-summit", style="margin-top:25px;").btn.btn-lg.btn-primary.expand RSVP Now
      .row
        .col-xs-12
          h2 Images
        .col-xs-12.col-sm-6
          img(src="/img/event/OMp2eu4mbJ/image02.jpg").img-responsive
        .col-xs-12.col-sm-6
          img(src="/img/event/OMp2eu4mbJ/image03.jpg").img-responsive
