extends ../layout

block content
  div(style="background-color:#000;margin-top:-21px;").hidden-xs: .container: .profile-header.text-center(style='height: 25pc;background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75)),url(/img/event/g7F7NCyYyC/header.png);background-size:contain;background-repeat:no-repeat;background-position:center;')
    .container(style="max-width:1170px;")
      h1(style="font-weight:200;font-size:38px;").profile-header-user A Bug Free Mind
      p(style="font-weight:200;font-size:18px;").profile-header-bio May 2016, Las Vegas
  div(style="background-color:#000;margin-top:-21px;").hidden-sm.hidden-md.hidden-lg
    img(style="width:100%;", src="")
    .profile-header.text-center
      .container(style="max-width:1170px;")
        .container-inner
          h1.profile-header-user A Bug Free Mind
          p.profile-header-bio May 2016, Las Vegas
  #profile.page: .container: .row
    .col-xs-10.col-xs-offset-1
      h2 Thank You
      p
        | You have have successfully claimed your RSVP for A Bug Free Mind in Las Vegas.
        | You will receive an email once your team is full with your team name, 
        | members and room information. Teams are generated randomly so use this 
        | email to connect with your team members early. We look forward to having you!
