extends ../layout

block content
  .row: .col-xs-8.col-xs-offset-2.text-center
    h4
      .alert.alert-success#freeFormPassed
        | Thank you for adding an article!
        br
        br
        | Your article will be reviewed and should be up on the site soon.
    a(href='/dashboard/article') Click here to return to the article form.
