.container
  .row: .col-xs-12: .primary
    a(href='/about') About Us
    //a(href='/for/business') Business
    a(href='/integrate#instructor') Become an Instructor
    a(href='/integrate#affiliate') Affiliates / Producers
    // a(href='/vip/landing') VIP Membership
    a(href='/quotes') Quotes
    //a(href='/categories') Categories
    //a(href='http://blog.youwillchangetheworld.com', target='_blank') Blog
    a(href='/support') Support
    //a(href='/careers') Careers
  .row: .col-xs-12: .secondary
    .row
      .col-xs-12.col-md-8
        span Copyright (c) 2016 You Will Change The World, LLC
        a(href='/terms') Terms of Use
        a(href='/terms/privacy') Privacy Policy
      .col-xs-12.col-md-4.text-right.footer-icons-home
        a(href='https://www.facebook.com/ywchangetheworld', target='_blank'): i.fa.fa-facebook.fa-lg.fa-lg-footer
        a(href='https://twitter.com/youwillchangetw', target='_blank'): i.fa.fa-twitter.fa-lg.fa-lg-footer
        a(href='https://www.instagram.com/ywctw', target='_blank'): i.fa.fa-instagram.fa-lg.fa-lg-footer
        a(href='https://www.linkedin.com/company/you-will-change-the-world', target='_blank'): i.fa.fa-linkedin.fa-lg.fa-lg-footer
        a(href='https://www.youtube.com/channel/UC87zHEilapwGuj907A_gHiw', target='_blank'): i.fa.fa-youtube.fa-lg.fa-lg-footer
