meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-2.jpg")
meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-3.jpg")
meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-4.jpg")
meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-5.jpg")
meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-6.jpg")
meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-7.jpg")
meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-8.jpg")
meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-9.jpg")
meta(property="og:image", content="https://www.youwillchangetheworld.com/img/opengraph/ywctw-10.jpg")