extends layout

block content
  h1.text-center Affiliate Setup
  br
  br
  p.text-center Please contact
    a(href="mailto:dev.admin@youwillchangetheworld.com", target="_blank")  dev.admin@youwillchangetheworld.com
    |  to get your affiliate setup.

