extends layout

block content
  .row: .col-xs-12
    .dashhead
      .dashhead-titles
        h6.dashhead-subtitle Dashboards
        h3.dashhead-title Files

  .row: .col-xs-12
    .hr-divider.m-t
      h3.hr-divider-content.hr-divider-heading Downloads

  br

  .row
    .col-xs-4.text-center
      a(target="_blank", href="../files/action-guide.pdf")
        img(src="../img/dashboard/action-guide-thumbnail.png", height="300px")
      h4 Action Guide
    .col-xs-4.text-center
      a(target="_blank", href="../files/ywctw-contract.pdf")
        img(src="../img/dashboard/contract-thumbnail.png", height="300px")
      h4 Contract



