extends layout

block content
  .row: .col-xs-12
    .dashhead
      .dashhead-titles
        h6.dashhead-subtitle Dashboard
        h3.dashhead-title Settings

  .row: .col-xs-12
    if instructor.get('shortBio')
      hr
      h3 #{instructor.get('name')}'s Short Bio
      p !{instructor.get('shortBio')}
    .row
      .col-xs-12.col-sm-12
        .form-group
          textArea(name="shortBio", id="shortBio", rows="3").form-control
      .row.m-t.m-b
        .col-xs-12
          input(style='margin-left:15px', id="#", type="submit", value="Update Short Bio").btn.btn-primary

  .row: .col-xs-12
    if instructor.get('longBio')
      hr
      h3 #{instructor.get('name')}'s Long Bio
      p !{instructor.get('longBio')}
    .row
      .col-xs-12.col-sm-12
        .form-group
          textArea(name="longBio", id="longBio", rows="10").form-control
      .row.m-t.m-b
        .col-xs-12
          input(style='margin-left:15px', id="#", type="submit", value="Update Long Bio").btn.btn-primary

