if enrollment
  != 'Enrolled'
else if course.get('price') === 0
  != 'Free'
else if user && discounts && discounts.length && (!partnerCode || !partnerCode.valid)
  if discounts[0].get('discount').get('productType') == 'course-' + course.id
    if discounts[0].get('discount').get('static')
      != '$' + discounts[0].get('discount').get('amount') + ' <small style="text-decoration:line-through;">' + course.get('price') + '</small>'
    else
      != '$' + Math.floor(course.get('price') * discounts[0].get('discount').get('amount')) + ' <small style="text-decoration:line-through;">' + course.get('price') + '</small>'
  else if discounts[0].get('discount').get('productType') == 'course'
    if discounts[0].get('discount').get('static')
      != '$' + discounts[0].get('discount').get('amount') + ' <small style="text-decoration:line-through;">' + course.get('price') + '</small>'
    else
      != '$' + Math.floor(course.get('price') * discounts[0].get('discount').get('amount')) + ' <small style="text-decoration:line-through;">' + course.get('price') + '</small>'
  else
    != '$' + (course.get('price'))
else if !user && discountCode
  if discountCode.get('static')
    != '$' + discountCode.get('amount') + ' <small style="text-decoration:line-through;">' + course.get('price') + '</small>'
  else
    != '$' + Math.floor(course.get('price') * discountCode.get('amount')) + ' <small style="text-decoration:line-through;">' + course.get('price') + '</small>'
else if partnerCode && partnerCode.valid
  if partnerCode.get('static')
    != '$' + partnerCode.get('amount') + ' <small style="text-decoration:line-through;">' + course.get('price') + '</small>'
  else
    != '$' + Math.floor(course.get('price') * partnerCode.get('amount')) + ' <small style="text-decoration:line-through;">' + course.get('price') + '</small>'
else
  if user && user.membership && user.membership === 'vip-pioneer'
    if user.firstDiscount
      != '$' + course.get('price') + '<small>reg</small> $' + Math.floor(course.get('price') * 0.25) + '<small> for VIPs</small>'
    else
      != '$' + course.get('price') + '<small>reg</small> $' + Math.floor(course.get('price') * 0.5) + '<small> for VIPs</small>'
  else
    != '$' + (course.get('price'))
