extends ../layout

block content

  .container-fluid
    h1 Update User Referred By
    hr
    .row: .col-xs-6
      h3 Set User Reffered By for !{user.get('email')}
      br
      br
      form(id="updateReferredBy",method="post",action=action)
        label New Referred By Code
        input(type="text", id="referredBy", name="referredBy" required).form-control
        input(type="hidden", id="userId", name="userId", value=user.id)
        input(type="hidden", id="userAuthId", name="userAuthId", value=user.get('username'))
        br
        br
        input(id="formSubmit", type="submit", value="Update User Reffered By").btn.btn-success