extends layout

block content
  .page: .container
    h1 Oops!
    h2 We can't seem to find the page your looking for.
    br
    h3 Here are links to get you back on track.
    p: a(href="/courses") Courses
    p: a(href="/instructors") Instructors
    p: a(href="/events") Events