extends layout

block content
   .page.about-page.text-center: .container: .row: .col-xs-10.col-xs-offset-1
    h1.about-title The Story of You Will Change the World
    .embed-responsive.embed-responsive-16by9
     iframe(src=('https://www.youtube.com/embed/vvkc7PDDbJ4?autoplay=true'), width='500', height='281', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen).embed-responsive-item
    hr
    .row.about-second-section
      .col-lg-3.pl-0
         div.about-img
            img.instructor-about-img(src='public/img/Peter-anthony.png')
      .col-lg-9
         h4.about-user-title Peter Anthony Wynn
         p.about-story-text For over 20 years Peter Anthony has helped some of the top industry leaders either develop, launch, outline, or create their winning digital products including Jay Shetty, Keith Cunningham, Forbes Riley, Nonito Donair, Les Brown, James Dentley, Dave Vanhoose, Brent Phillips, Sarah Marshank, Loren Lahav and John Burke to name a few. Global, charismatic speaker and trainer, whose story telling lights up auditoriums. He engages with his audience with his straight forward and personal approach. Also a best selling author of 3 books “Overcoming a rockstar mentality in the workplace", "Almost 100 social media posts to drive traffic" and “I Challenge You”.
    h3 <em>“Commit yourself to lifelong learning. The most valuable asset you’ll ever have is your mind and what you put into it.”</em> ~ Brian Tracy
    h2 Changing the World - One Person at a Time
    p You Will Change the World is the fastest growing online learning marketplace in the world. We offer courses on writing, business, beauty and anti-aging tips, personal relations, and much more. Each of our courses is taught by an expert in their respective industry. Students can access online courses anywhere, anytime. Enjoy the freedom to learn at your own pace on a quality, on-demand platform made just for students like you.
    a(href="/courses").btn.btn-primary Click to Browse Courses
