extends layout

block content
   .page.text-center: .container: .row: .col-xs-10.col-xs-offset-1
    h1 About Us
    .embed-responsive.embed-responsive-16by9
     iframe(src=('https://www.youtube.com/embed/vvkc7PDDbJ4?autoplay=true'), width='500', height='281', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen).embed-responsive-item
    hr
    h3 <em>“Commit yourself to lifelong learning. The most valuable asset you’ll ever have is your mind and what you put into it.”</em> ~ Brian Tracy
    h2 Changing the World - One Person at a Time
    p You Will Change the World is the fastest growing online learning marketplace in the world. We offer courses on writing, business, beauty and anti-aging tips, personal relations, and much more. Each of our courses is taught by an expert in their respective industry. Students can access online courses anywhere, anytime. Enjoy the freedom to learn at your own pace on a quality, on-demand platform made just for students like you.
    a(href="/courses").btn.btn-primary Click to Browse Courses
