extends layout

block content
  #instructor-registration.page: .container
    if errors.message
      .alert.alert-danger= errors.message
    .row: .col-xs-12: form(method="post", action="/instructor-registration")
      .panel.panel-default
        .panel-heading: h3.panel-title Personal Information 
        .panel-body
          p Note: You must be a legal US citizen and over the age of 18. All fields are required.
          .row
            .col-xs-12.col-sm-6
              .form-group(class=(errors.nameFirst ? 'has-error' : ' ')): input.form-control(type="text", name="nameFirst", placeholder="First Name", value=(form.nameFirst || ''), required)
              .form-group(class=(errors.nameLast ? 'has-error' : ' ')): input.form-control(type="text", name="nameLast", placeholder="Last Name", value=(form.nameLast || ''), required)
              .form-group(class=(errors.email ? 'has-error' : ' ')): input.form-control(type="email", name="email", placeholder="Email", value=(form.email || ''), required)
              .form-group(class=(errors.phone ? 'has-error' : ' ')): input.form-control(type="phone", name="phone", placeholder="Phone", value=(form.phone || ''), required)
              .form-group(class=(errors.dob ? 'has-error' : ' ')): input.form-control(type="text", name="dob", placeholder="DOB (yyyy-mm-dd)", value=(form.dob || ''), required)
              .form-group(class=(errors.ssn ? 'has-error' : ' ')): input.form-control(type="text", name="ssn", placeholder="SSN (last 4 digits)", value=(form.ssn || ''), required)
            .col-xs-12.col-sm-6
              .form-group(class=(errors.address1 ? 'has-error' : ' ')): input.form-control(type="text", name="address1", placeholder="Address 1", value=(form.address1 || '') required)
              .form-group: input.form-control(type="text", name="address2", placeholder="Address 2", value=(form.address2 || ''))
              .form-group(class=(errors.city ? 'has-error' : ' ')): input.form-control(type="text", name="city", placeholder="City", value=(form.city || ''), required)
              .form-group(class=(errors.state ? 'has-error' : ' ')): input.form-control(type="text", name="state", placeholder="State", value=(form.state || ''), required)
              .form-group(class=(errors.zip ? 'has-error' : ' ')): input.form-control(type="text", name="zip", placeholder="Zip Code", value=(form.zip || ''), required)
      .panel.panel-default
        .panel-heading: h3.panel-title Business Information 
        .panel-body
          p Note: These fields are only required if you are regsitering as a business. Must be a legally registered US business.
          .row
            .col-xs-12.col-sm-6
              .form-group: input.form-control(type="text", name="businessLegalName", placeholder="Business Legal Name", value=(form.businessLegalName || ''))
              .form-group: input.form-control(type="text", name="businessDbaName", placeholder="Business DBA", value=(form.businessDbaName || ''))
              .form-group: input.form-control(type="text", name="taxId", placeholder="EIN", value=(form.taxId || ''))
            .col-xs-12.col-sm-6
              .form-group: input.form-control(type="text", name="businessAddress1", placeholder="Address 1", value=(form.businessAddress1 || ''))
              .form-group: input.form-control(type="text", name="businessAddress2", placeholder="Address 2", value=(form.businessAddress2 || ''))
              .form-group: input.form-control(type="text", name="businessCity", placeholder="City", value=(form.businessCity || ''))
              .form-group: input.form-control(type="text", name="businessState", placeholder="State", value=(form.businessState || ''))
              .form-group: input.form-control(type="text", name="businessZip", placeholder="zip", value=(form.businessZip || ''))
      .panel.panel-default
        .panel-heading: h3.panel-title Bank Information 
        .panel-body
          p Note: These fields are required.
          .row
            .col-xs-12.col-sm-6
              .form-group(class=(errors.accountNumber ? 'has-error' : ' ')): input.form-control(type="text", name="accountNumber", placeholder="Account Number", value=(form.accountNumber || ''), required)
            .col-xs-12.col-sm-6
              .form-group(class=(errors.accountRouting ? 'has-error' : ' ')): input.form-control(type="text", name="accountRouting", placeholder="Routing Number", value=(form.accountRouting || ''), required)
      .panel(class=(errors.agreement ? ' panel-danger' : ' panel-default'))
        .panel-heading: h3.panel-title Agreement
        .panel-body
          p You Will Change The World Terms
          .form-group: label
            input(type="checkbox", name="ywctwTerms", value="true", required)
            |  I have read and accept the terms found on <a target="_blank" href="/terms/instructor">Instructor Terms</a> and <a tagret="_blank" href="/terms/affiliate">Affiliate Terms</a>
          p Braintree Payment Gateway Terms
          p You Will Change The World, LLC uses Braintree, a division of PayPal, Inc. (Braintree) for payment processing services. By using the Braintree payment processing services you agree to the Braintree Payment Services Agreement available at <a target="_blank" href="https://www.braintreepayments.com/legal/gateway-agreement">https://www.braintreepayments.com/legal/gateway-agreement</a>, and the applicable bank agreement available at <a target="_blank" href="https://www.braintreepayments.com/legal/cea-wells">https://www.braintreepayments.com/legal/cea-wells</a> ."
          .form-group: label
            input(type="checkbox", name="braintreeTerms", value="true", required)
            |  I have read and accept the Braintree terms found above.
          .form-group: label
            input(type="checkbox", name="usAge", value="true", required)
            |  I am a legal US citizen and 18 years of age or older.
      input(type="submit", value="Accept and Submit").btn.btn-success
        
              
              
            
