extends layout

block content
  #integrate.page: .container: .row: .col-xs-12.col-lg-10.col-lg-offset-1
    h1 Integrate With Us
    
    .embed-responsive.embed-responsive-16by9
      iframe(src='https://www.youtube.com/embed/Ah8zwe8jHKU'), width='500', height='281', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen).embed-responsive-item
    
    h2.text-center YWCTW OFFERS A NEW STANDARD
    .row
      .col-xs-12.col-sm-4
        h3 Publisher/Affiliate
        img(src="/img/page/integrate/1.png").img-responsive
        p Share the YWCTW platform & specific instructors through social media, email, targeted ads or your favorite form of digital marketing. You get commissioned for referrals.
      .col-xs-12.col-sm-4
        h3 Instructor
        img(src="/img/page/integrate/2.png").img-responsive
        p Our instructors share mentorship, wisdom, motivation and guidance. We support them by creating digital introductions to those who will benefit from their expertise.
      .col-xs-12.col-sm-4
        h3 Commission
        img(src="/img/page/integrate/3.png").img-responsive
        p It’s simple, within the first 90 days of your guests’ visit to the platform, our affiliates (you) will receive up to 50% of their purchases. After the 90 day period the affiliate receives up to 30% of lifetime purchases.
    
    h2#instructor Instructor
    p In the past instructors were merely “suppliers” of content, their ability to enjoy their contribution was completely and directly tied into their content’s ‘popularity’, YWCTW has broken that barrier down for good. Instructors now have the greatest opportunity in digital history to share their passion and expertise. YWCTW offers an unprecedented compensation plan for instructors only. We didn’t stop there, we wanted to create the most inclusive and exclusive community and culture possible. Instructors are the heart of the community and as such we feel that their long term success is our priority, here is what is offered to our “instructors”:
    table.table.table-bordered
      tr
        th 
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          | Commission Share
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        th
        th
      tr
        td.text-center: strong <span style='color:red;'>90</span>/10*
        td Instructors receive 90% of all the revenue that they generate directly to purchases of their own courses for life.*
        td YWCTW will supply specific links that can be used by the instructor across multiple digital platforms.
      tr
        td.text-center: strong <span style='color:red;'>50</span>/25/25*
        td Within the first 90 days of the arrival of the instructor’s guests, Instructors receive 50% of all the revenue that their traffic generates for the sale of other instructor’s courses.*
        td YWCTW will track for the Instructor all the purchases of their directly invited guests to the YWCTW platform. Instructors will be able to see their guest’s entire journey on their dashboard.*
      tr
        td.text-center: strong <span style='color:red;'>30</span>/35/35*
        td FOR LIFE after 90 days of the arrival of the instructor’s guests, Instructors receive up to 30% of all the revenue that their traffic generates for the sale of other instructor’s courses.* 
        td YWCTW will track for the Instructor all the purchases of their directly invited guests to the YWCTW platform. Instructors will be able to see their guest’s entire journey on their dashboard.*
      tr
        td.text-center: strong <span style='color:red;'>10</span>/60/30*
        td FOR LIFE after 90 days of the arrival of the instructor’s guests, Instructors receive up to 10% of all the revenue that their traffic generates for the sale of VIP & Celebrity instructor’s courses.*
        td YWCTW will track for the Instructor all the purchases of their directly invited guests to the YWCTW platform. Instructors will be able to see their guest’s entire journey on their dashboard.*
      
      table.table.table-bordered
          tr
            th 
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              | Instructor Benefits 
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            th
          tr
            td.text-center: strong Dashboard
            td Each instructor will have access to a complete dashboard allowing them to check at will their students, course completion ratio, and commissions.
          tr
            td.text-center: strong
              | IPO (Beta)
              br
              small Internal Promotion Option
            td All instructors will have the opportunity to use our powerful Social Media promotional platform at a low rate to drive additional traffic to their courses. Yes each client captured will be part of the instructor’s lifetime student body and all commissions will apply.
          tr
            td.text-center: strong
              | SPL
              br
              small Support Product Listing
            td All support products may be listed on the instructor’s course pages and home pages COMMISSION FREE. YWCTW invites instructors to earn additional revenue by selling their books, coaching, events or related* products directly on their page.
          tr
            td.text-center: strong
              | SMI
              br
              small Social Media Integration
            td Instructors will be able to list their social media tags on their pages encouraging students to share the instructors course on their personal SM of choice. The instructor’s course grows through their student body sharing the platform. YWCTW will* integrate incentives for students to share that will increase the instructor’s student body.
    
    img(src='/img/page/integrate/mail-chimp-email-collection-ywctw.png', style='width:100%;')
    
    p
      | If you would like to participate in our platform as an early instrctor, please send us an email at 
      a(href='mailto:info@youwillchangetheworld.com') info@youwillchangetheworld.com 
      | and let us know about you and your material.
      
    .row.text-center
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/acting.png').img-responsive
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/business.png').img-responsive
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/charity.png').img-responsive
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/facebook.png').img-responsive
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/hair.png').img-responsive
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/makeup.png').img-responsive
    .row.text-center
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/photo.png').img-responsive
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/singing.png').img-responsive
      .col-xs-4.col-sm-2: img(src='/img/page/integrate/speaking.png').img-responsive
    
    h2#producer Producer / Instructor
    p We have introduced the most exciting idea in course development, the Producer/Instructor Split. The idea is simple, great producers allow great instructors to shine, inversely great instructors solidify the producer’s investment. The combination of these powerful partners will change the digital industry forever. YWCTW will track all traffic driven into the platform and within a private dashboard allow the producer and instructor. This is a very exciting time and we want to make sure that incredible instructors and producers are rewarded for their genius, mentorship & sharing.
    table.table.table-bordered
      tr
        th 
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          | Commission Share
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        th
        th
      tr
        td.text-center: strong <span style='color:red;'>45/45</span>/10*
        td P/I share up to 90% of all the revenue that they generate directly to purchases of their own courses for life.*
        td YWCTW will supply specific links that can be used by the P/I across multiple digital platforms.
      tr
        td.text-center: strong <span style='color:red;'>25/25</span>/25/25*
        td Within the first 90 days of the arrival of the instructor’s guests, P/I share up to 50% of all the revenue that their traffic generates for the sale of other instructor’s courses.*
        td YWCTW will track for the P/I all the purchases of their directly invited guests to the YWCTW platform. P/I’s will be able to see their guest’s entire journey on their dashboard.*
      tr
        td.text-center: strong <span style='color:red;'>15/15</span>/35/35*
        td FOR LIFE  after 90 days of the arrival of the instructor’s guests, P/I share up to 30% of all the revenue that their traffic generates for the sale of other instructor’s courses.* 
        td YWCTW will track for the P/I all the purchases of their directly invited guests to the YWCTW platform. P/I’s will be able to see their guest’s entire journey on their dashboard.*
      tr
        td.text-center: strong <span style='color:red;'>5/5</span>/60/30*
        td FOR LIFE  after 90 days of the arrival of the instructor’s guests, P/I share up to 10% of all the revenue that their traffic generates for the sale of VIP & Celebrity instructor’s courses.*
        td YWCTW will track for the P/I all the purchases of their directly invited guests to the YWCTW platform. P/I’s will be able to see their guest’s entire journey on their dashboard.*

    p
      | If you would like to participate in our platform as an early producer, please send us an email at 
      a(href='mailto:info@youwillchangetheworld.com') info@youwillchangetheworld.com 
      | and let us know about you.

    h2#affiliate Affiliate
    p Affiliates. In history there has never been something quite so unique. A platform where you are truly rewarded with long term residual income. YWCTW has been designed around the most important aspect of all digital platforms, YOUR CLIENT, the user. Some platforms talk about it but YWCTW lives it. Your ability to offer multiple course to users whenever they are asked to come through into the platform now allows them to have MULTIPLE options in content that has been developed to entertain, motivate, inspire, mentor, and guide. YWCTW will reward the Affiliate with LIFETIME residual income based on sales of their internal developed network. As well we will continuously look to add exciting product by the best instructors in their field. 
    p Knowing the time effort and energy it takes to drive traffic our program is the gift that will keep on giving to all. 
    table.table.table-bordered
      tr
        th 
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          | Commission Share
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        th
        th
      tr
        td.text-center: strong <span style='color:red;'>50</span>/25/25*
        td Within the first 90 days of the arrival of the Affiliate’s guests, Affiliates receive 50% of all the revenue that their traffic generates for the sale of other Affiliate’s courses.*
        td YWCTW will track for the Affiliate all the purchases of their directly invited guests to the YWCTW platform. Affiliates will be able to see their guest’s entire journey on their dashboard.*
      tr
        td.text-center: strong <span style='color:red;'>30</span>/35/35*
        td FOR LIFE  after 90 days of the arrival of the Affiliate’s guests, Affiliates receive up to 30% of all the revenue that their traffic generates for the sale of other Affiliate’s courses.* 
        td YWCTW will track for the Affiliate all the purchases of their directly invited guests to the YWCTW platform. Affiliates will be able to see their guest’s entire journey on their dashboard.*
      tr
        td.text-center: strong <span style='color:red;'>10</span>/60/30*
        td FOR LIFE  after 90 days of the arrival of the Affiliate’s guests, Affiliates receive up to 10% of all the revenue that their traffic generates for the sale of VIP & Celebrity instructor’s courses.*
        td YWCTW will track for the Affiliate all the purchases of their directly invited guests to the YWCTW platform. Affiliates will be able to see their guest’s entire journey on their dashboard.*

    p
      | If you would like to participate in our platform as an early affiliate, please send us an email at 
      a(href='mailto:info@youwillchangetheworld.com') info@youwillchangetheworld.com 
      | and let us know about you and your material.


