extends layout

block content

    style.
        .cent{
            text-align: center;
        }
        .pad{
            padding: 30px;
        }
        .ans{
            padding-left: 15px;
        }
        .fs{
            font-size: 20px;
        }
        .table{
            background-color: white;
            color: black;
        }
        @media only screen and (max-width: 600px) {
            .aff-link{
                font-size: 14px;
            }
            .table-percents{
                color: #e81111;
            }
        }
        @media only screen and (min-width: 600px) {
            .mt{
                margin-top: 20px;
            }
            .table-percents{
                font-size: 32px;
                color: #e81111;
            }
            .table-big-text{
                font-size: 22px;
            }
        }


    .row
        .col-xs-12
            .dashhead
                .dashhead-titles
                    h3.dashhead-title FAQ
    .row
        .col-xs-12
            .hr-divider
                h3.hr-divider-content.hr-divider-heading FAQ
    .row
        .col-xs-12
            p.fs Welcome to the YWCTW Ambassador FAQ page. Please read through these before contacting our support email at <a href="support@youwillchangetheworld.com">support@youwillchangetheworld.com.</a>
    .row
        .col-xs-12
            p.fs <b>What are the affiliate commissions for each course?</b>
            p.fs Each course has a different affiliate commission depending on the price of the course, it is based on a percentage of the price. When you promote with your affiliate link to any YWCTW landing page and someone registers, that person has 30 days to purchase a course. If they purchase within the 30 days, you make 40% commission on the price of that course or courses they bought. If they purchase any course after the initial 30 days, then you make 20% commission on these sales for life. Celebrity and VIP course commissions are different and are dependent on the price and commission set by the celebrity or VIP.
            p.fs <b>See the YWCTW Commissions table below:</b>
        .col-xs-12
            table.table.table-responsive(style="border: 1px solid black;")
                thead(style="background: black; color: white;")
                    tr: th(colspan="3" class="table-big-text") <b>You Will Change The World (YWCTW) Affiliate Commisions</b>
                tbody
                    tr(style="background: #d0d0d0; font-weight: bold;" class="table-big-text")
                        td Courses/Affiliate Commisions
                        td Commisions Paid Within The First 30 Days When Leads Register Into A Free Or Paid Course
                        td Lifetime Commisions Paid After First 30 Days From Initial Registration
                    tr
                        td(style="background: #d0d0d0; font-weight: bold;" class="table-big-text") Promoting YWCTW Courses
                        td <b class="table-percents">40%</b> <br> Affiliates recieve 40% of revenue that their traffic generates for YWCTW courses. This may exclude VIP and Celebrity courses.
                        td <b class="table-percents">20%</b> <br> Affiliates recieve 20% of revenue that their traffic generates for YWCTW courses excluding VIP and Celebrity courses.
                    tr
                        td(style="background: #d0d0d0; font-weight: bold;" class="table-big-text") Promoting YWCTW VIP & Celebrity Courses
                        td <b class="table-percents">10-40%</b> <br> Affiliates can recieve up to 10-40% of all revenue that their traffic generates for the sale of any YWCTW VIP and 
                        td <b class="table-percents">*</b> <br> Affiliate commisions on based on the celebrity
                    tr
                        td(style="background: #d0d0d0; font-weight: bold;" class="table-big-text") Second Tier Commisions For Signing Up New YWCTW Affiliates
                        td <b class="table-percents">5%</b> <br> When Affiliate signs new Affiliates, they recieve 5% commision on any sales the new affiliate create.
                        td <b class="table-percents">5%</b> <br> When an Affiliate signs new Affiliates, they recieve 5% commision on any sales the new Affiliate creates.
    .row
        .col-xs-12.fs
            p <b>What is Second Tier Commissions?</b>
            p Second tier commissions means that if you register any Ambassadors into the YWCTW system and they make sales as an affiliate, you make 5% of the sales that they make through their affiliate links. This 5% remains for the life of anything that new client purchases. If a customer comes in to purchase a YWCTW course, and then decides to become an Ambassador, you will also get 2nd Tier commissions because they are tracked as your lead.
    .row
        .col-xs-12.fs
            p <b>How do I get paid?</b>
            p We pay affiliates on the 15th of each month, after a 30 day cooling off period into your designated PayPal account. Make sure you have updated your payment information in the YWCTW Profile  section of this site. If someone purchases on the 20th of the month, you have to wait for 30 days and then you will be paid on the 15th of the month after. If you do not have a PayPal account, go to <a target="_blank" href="www.paypal.com">www.paypal.com</a> and create one now with your email address. If you don’t have a business, you can create a personal account. If there is a refund in the system, then you will not be paid on those commissions. Commissions are only paid against monies that are collected by You Will Change The World. Collected is defined by money deposited into YWCTW bank account.
    .row
        .col-xs-12.fs
            p <b>Who gets the commission?</b>
            p We have a LAST Cookie wins policy, which means that if two people are promoting to the same person, and that person clicks on both links, it’s the last person who promoted who got the opt-in or sale who gets the client commissions. Once they have registered an account in the YWCTW platform, you get paid for life on any courses they buy*.
    .row
        .col-xs-12.fs
            p <b>Will we get notified of new launches coming out?</b>
            p Yes we will email you and post in the private Facebook group when new launches are coming up so that you can prepare your audience and lists for the campaign. First person to get the lead wins, so you want to make sure you keep an eye out for new launches.


