extends layout

block content

    style.
        .cent{
            text-align: center;
        }
        .pad{
            padding: 30px;
        }
        .fs{
            font-size: 20px;
        }
        @media only screen and (max-width: 600px) {
            #main{
                padding-left: 0px !important;
                padding-top: 0px !important;
            }
            .aff-link{
                font-size: 14px;
            }
        }
        @media only screen and (min-width: 600px) {
            .mt{
                margin-top: 20px;
            }
        }


    .row
        .col-xs-12
            .dashhead
                .dashhead-titles
                    h3.dashhead-title Resources
    .row: .col-xs-12
        .hr-divider
            h3.hr-divider-content.hr-divider-heading Resources
    .row.pad
        .col-xs-12.fs
            h1 Coming Soon!
 


