extends ../layout

block content

  div(style="background-color:#000;margin-top:-21px;").hidden-xs: .container(style='height: 25pc;background:url(/img/event/HHH8BSLNfV/nov-header.png);background-size:cover;background-repeat:no-repeat;background-position:center;')

  div(style="background-color:#000;margin-top:-21px;").hidden-sm.hidden-md.hidden-lg
    img(style="width:100%;", src="/img/event/HHH8BSLNfV/nov-header.png")

  #foundations.page
    .container
      h1.text-center Foundations