.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0.col-md-4
  .course-card: a(href='/courses/' + course.get('slug'))
    figure.effect-julia
      if course.get('cardImage')
        img(src=course.get('cardImage').url()).img-responsive
      else
        img(src='https://placeholdit.imgix.net/~text?txtsize=36&txt=500×200&w=500&h=200').img-responsive
      figcaption
        h2(style='text-transform:capitalize;').fittext= course.get('name')
        p= course.get('instructor') ? course.get('instructor').get('name') : ''
        button.btn.btn-primary
          if course.get('stage') === 'prod'
            if course.get('price') === 0
              span Free Enrollment
            else
              span Enroll for 
                include price
          else
            span Coming Soon
