nav.iconav(style="width: 80px")
  //- li.dropdown
  //-   a.iconav-brand(href='/' data-toggle='dropdown' role='button').dropdown-toggle
  //-     img(src="/img/logo-icon-dashboard.png", height="36")
  //-   ul.dropdown-menu
  //-     li: a(href='/') Home
  //-     li: a(href='/about') Our Story
  //-     li: a(href='/instructors') Instructors
  //-     li: a(href='/courses') Courses
  //-     li: a(href='/books') Books
  //-     li: a(href='/events') Events
  //-     li: a(href='/articles') Articles/Blogs
  a.iconav-brand(href='/' title='YWCTW' data-toggle='tooltip' data-placement='right' data-container='body')
    img(src="/img/favicon.png" height="36")
  .iconav-slider
    ul.nav.nav-pills.iconav-nav
      li
        a(href='/student' title='Overview' data-placement='right' data-container='body')
          span.icon.icon-home
          small.iconav-nav-label Overview
      li
        a(href='/student/message' title='Message' data-toggle='tooltip' data-placement='right' data-container='body')
          span.icon.icon-book
          small.iconav-nav-label Message
      li
        a(href='/student/explanation' title='Explanation' data-toggle='tooltip' data-placement='right' data-container='body')
          span.icon.icon-network
          small.iconav-nav-label Explanation
      li
        a(href='/student/suggestion' title='Suggestion' data-toggle='tooltip' data-placement='right' data-container='body')
          span.icon.icon-users
          small.iconav-nav-label Suggestion

      li(style="bottom: 0;position: absolute;")
        a(href='/auth/logout' title='Sign Out' data-toggle='tooltip' data-placement='right' data-container='body')
          span.icon.icon-log-out
          small.iconav-nav-label SignOut  

      //- li
      //-   a(href='/dashboard/files' title='Files' data-toggle='tooltip' data-placement='right' data-container='body')
      //-     span.icon.icon-folder
      //-     small.iconav-nav-label Files
      //- li
      //-   a(href='/dashboard/analytics' title='Analytics (Soon)' data-toggle='tooltip' data-placement='right' data-container='body')
      //-     span.icon.icon-area-graph
      //-     small.iconav-nav-label Analytics
      //- li
      //-   a(href='/dashboard/marketing-tools' title='Marketing Tools (Soon)' data-toggle='tooltip' data-placement='right' data-container='body')
      //-     span.icon.icon-funnel
      //-     small.iconav-nav-label Marketing
      // li
        a(href='/dashboard/marketplace' title='Marketplace (Soon)' data-toggle='tooltip' data-placement='right' data-container='body')
          span.icon.icon-shop
          small.iconav-nav-label Market Place



      //li
      //a(href='#' title='Producer' data-toggle='tooltip' data-placement='right' data-container='body')
      //span.icon.icon-clapperboard
      //small.iconav-nav-label.visible-xs-block Producer

      //- li
      //-   a(href='/dashboard/article' title='Articles' data-toggle='tooltip' data-placement='right' data-container='body')
      //-     span.icon.icon-pencil
      //-     small.iconav-nav-label Articles

      //- li
      //-   a(href='/dashboard/settings' title='Settings (Soon)' data-toggle='tooltip' data-placement='right' data-container='body')
      //-     span.icon.icon-cog
      //-     small.iconav-nav-label Settings
