extends ../layout

block content
  #vip-landing.page: .container
    .row: .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
      h1.text-center THANK YOU
      img(src="/img/vip/vip-thank-you-banner-ywctw.png", style="margin:25px 0;").img-responsive
      p
        | We really appreciate your support for us, our instructors and your 
        | future. Your VIP discounts start immediately. <strong><em>Thank you for supporting
        | our program, we are excited. Remember that your first purchase will 
        | be discounted at 75% so make sure it is a great one.</em></strong>
      p - YWCTW Team
