if course.get('workbook')
  a(href=course.get('workbook').url(), target='_blank').btn.btn-lg.btn-default.expand
    i.fa.fa-book &nbsp;&nbsp; 
    | Download Workbook
  h6 * If PDF fails to load in Chrome, right click on the file and 'Save Link as...' to download PDF, or try opening the pdf in FireFox, IE, or Safari