extends ../layout

block content
  #sales-page: .container(style='padding-bottom:30px;')
    .col-xs-12
      .row.salespage-box.text-center
        h1: b You Will Change The World
        h3 Watch This Demo NOW!
        .embed-responsive.embed-responsive-16by9
          iframe(src=('https://player.vimeo.com/video/163707888' + '?autoplay=true'), width='500', height='281', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen).embed-responsive-item
        h4 WATCH HOW SIMPLE IT IS TO CHANGE THE WORLD
        .row
          .col-xs-10.col-xs-offset-1
            a.btn.btn-lg.btn-success.btn-block(href="#"): b Get Started Now!
      br

      .row.row-eq-height.text-center
        .col-sm-12.col-md-6
          .sales-boxes-content
            h3: b Get Started Now With A FREE Membership
            h2: b Join You Will Change The World Today!
            h4
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum.
              | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum.
            .row
              .col-xs-10.col-xs-offset-1
                a.btn.btn-lg.btn-success.btn-block(href="#"): b Get Started Now!
            h4
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum.
            .row
              .col-xs-10.col-xs-offset-1
                a.btn.btn-lg.btn-success.btn-block(href="#"): b Get Started Now!
        .col-sm-12.col-md-6
          .sales-boxes-content
            h3: b Get Started Now With A FREE Membership
            h2: b Join You Will Change The World Today!
            h4
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum.
            .row
              .col-xs-10.col-xs-offset-1
                a.btn.btn-lg.btn-success.btn-block(href="#"): b Get Started Now!
            h4
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum.
            .row
              .col-xs-10.col-xs-offset-1
                a.btn.btn-lg.btn-success.btn-block(href="#"): b Get Started Now!
      br

      .row.salespage-box
        h1.text-center: b FAQs
        .col-xs-12.col-sm-6
          h3: b Do I have to pay for courses?
          h4 Not all of them! We have a variety of great free courses for you to take after you register.
          hr
          h3: b Do I have to pay for courses?
          h4 Not all of them! We have a variety of great free courses for you to take after you register.
          hr
          h3: b Do I have to pay for courses?
          h4 Not all of them! We have a variety of great free courses for you to take after you register.
        .col-xs-12.col-sm-6
          h3: b Do I have to pay for courses?
          h4 Not all of them! We have a variety of great free courses for you to take after you register.
          hr
          h3: b Do I have to pay for courses?
          h4 Not all of them! We have a variety of great free courses for you to take after you register.
          hr
          h3: b Do I have to pay for courses?
          h4 Not all of them! We have a variety of great free courses for you to take after you register.

      br

      .row: .salespage-box
        .row.text-center
          h2: b Get Started Today For
          h1: b FREE!
        .row
          h3: b So, What's The Catch...?
          h4
            | There is NO catch. We're going to let you test drive ClickFunnels AND Actionetics today for FREE because we
            | know that after you start using them, you'll wonder how you ever survived without them!
        .row
          h3: b Is There A Guarantee?
          h4
            | Of Course. :) We guarantee that you'll LOVE ClickFunnels, and if for some reason you decide later that you
            | don't want to be a member anymore, then we'll happily cancel your account without any penalties for fees.
            | We don't believe in any long term contracts so you can come and go as you please.
        .row
          h3: b Here's What To Do Next:
          h4
            | From here it's just finalizing the details. Click on the button below, pick what subscription plan you want
            | to be on, and we can finally get started!
          h4
            | Thanks for taking the time to read this letter and watch the training video! We look forward to hearing
            | from you soon!
        .row
          h4: b Thanks
          h4: b You Will Change The World
        .row
          a.btn.btn-lg.btn-success.btn-block(href="#"): b Get Started Now!
