extends ../layout

block content
  #sales-page: .container(style='padding-bottom:30px')
    .col-xs-12
      .row.salespage-box.text-center
        h1: b Instant Credibility
        h2: b YOU NEED IT - YOU WANT IT - GET IT NOW
        .embed-responsive.embed-responsive-16by9
          iframe(src=('https://www.youtube.com/embed/d3EMnqqX01s' + '?autoplay=1'), width='500', height='281', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen).embed-responsive-item

        h3: b YOUR CREDIBILITY - YOUR MONEY SHOT - YOUR PR RELEASE
        .row
          img(src="/img/salespageIC/us-stations.png")(style="height:180px;margin-left:auto;margin-right:auto").img-responsive
        .row
          .col-xs-10.col-xs-offset-1
            //a.btn.btn-info.btn-lg.expand(a href="/files/InstantCredibilityPackage.pdf" target="_blank") Instant Credibility Package Information
            a.btn.btn-info.btn-lg.expand(a href="https://nd306.infusionsoft.com/app/orderForms/SES-Instant-Credibility-Package" target="_blank") Get Instant Credibility!

      br

      .row.row-eq-height.text-center
        .col-sm-12.col-md-6
          .sales-boxes-content
            h2: b Let Us Help You!
            h4.text-left
              | I will completely help you #[b FAST FORWARD YOUR MESSAGE] and #[b YOUR BRAND ]
              | using the same relationship techniques that the #[b BEST COMPANIES] have used for years.
              br
              br
              | For those of you who know what we have done, you know we are for real. Our businesses
              | skyrocketed as soon as we started working with celebrities. We earned recognition, people took
              | us seriously and we were nominated and won multiple national awards, CRUSHING our competitors.
              br
              br
              | TODAY our platform #[b youwillchangetheworld.com] is exploding because we have aligned with the
              | right people and the world can see it. We create extraordinary video courses and products. Our
              | team has been working with celebrities and actors for decades. #[b NOW WE WILL FILM YOU!]
            .row(style="margin:5px;margin-top:55px;")
              .col-xs-4
                img(src="/img/salespageIC/john-burke.png").img-responsive
              .col-xs-4
                img(src="/img/salespageIC/money-shot.png").img-responsive
              .col-xs-4
                img(src="/img/salespageIC/newscaster.png").img-responsive
            .row
              .col-xs-10.col-xs-offset-1.sales-box-btn-bottom
                a.btn.btn-info.btn-lg.expand(a href="https://nd306.infusionsoft.com/app/orderForms/SES-Instant-Credibility-Package" target="_blank") Get Instant Credibility!
        .col-sm-12.col-md-6
          .sales-boxes-content
            h2: b What Does The Instant Credibility Package Come With?
            hr
            h4.text-left: b START WITH AN INTERVIEW WITH TWO-TIME EMMY AWARD WINNER JOHN BURKE
            h4.text-left
              //| Imagine that on your Facebook, LinkedIn, Twitter, or other website!
              //| John Burke interviewing you about your BRAND, latest project, book,
              //| or online course. WOULDN'T that have some massive credibility?
              | YOU WILL ONLY get a chance to video with him when you take advantage of this
              | offer. John has hosted over 50 television shows and has won TWO
              | Emmy Awards for hosting WHILE he was the host of the Emmy's.
            hr
            h4.text-left: b OWN THE MONEY SHOT
            h4.text-left
              | "The Money Shot" - the most illusive photo for speakers. It is the picture
              | that tells a thousand words - you, in front of an audience, sharing your message,
              | expanding your brand and mentoring people from the front of the room.
              //| This picture
              //| is by far the hardest picture to get. It is YOU being YOU while other enthusiastically watch.
            hr
            h4.text-left: b YOU ALSO GET A NEWSCASTER PITCHING YOUR PRESS RELEASE ON A PR VIDEO
            h4.text-left
              | You know we could have stopped, BUT we thought you needed more! Also by now, you know it is
              | ONLY for those who TAKE ACTION NOW! Imagine a video of a newscaster SPEAKING about your
              | BRAND, latest project, book, or online course on Facebook, LinkedIn, and Twitter!
              //| WOULDN'T THAT THAT have some massive credibility? We will take your PR letter and place it in a
              //| newscaster's hands, and it will looks very similar to a news broadcast you would see on TV.

            .row
              .col-xs-10.col-xs-offset-1.sales-box-btn-bottom
                a.btn.btn-info.btn-lg.expand(a href="https://nd306.infusionsoft.com/app/orderForms/SES-Instant-Credibility-Package" target="_blank") Get Instant Credibility!
      br

      .row.salespage-box
        .col-xs-12
          img(src="/img/salespageIC/just-john-burke-img.png").img-responsive

      br

      .row.salespage-box
        h1.text-center: b FAQs
        .col-xs-12.col-sm-6
          h3: b How much does Instant Credibility cost?
          h4
            | Our PR & Video Package is valued at OVER $10,000, but you can get it for HALF that cost at our event.
            | It costs $4,997 at our event, but you can get it for even LOWER if you get it earlier. Our EARLY BIRD
            | SPECIAL is only $3,797.
          hr
          h3: b Who will help me shoot my PR video?
          h4 We will help film YOUR celebrity video with Two-Time Emmy Award Winner John Burke.
          hr
        .col-xs-12.col-sm-6
          h3: b Will I also have copies of my videos?
          h4 Of course! You will have copies for all your videos for your social media and website.
          hr
          h3: b Where will my PR release go?
          h4 Your PR release will be sent to CBS, NBC, FOX News, abc, The New York Times, and 300 more!
          hr
        .row
          img(src="/img/salespageIC/us-stations.png")(style="height:180px;margin-left:auto;margin-right:auto").img-responsive

      br

      .row: .salespage-box
        .row.text-center
          h2: b HOW MUCH IS THAT LEVEL OF PR WORTH?
          //h1: b FREE!
        .row
          h3: b So, What's The Catch...?
          h4
            | There is NO catch. Once you buy the Instant Credibility package, we will completely help you
            | #[b  FAST FORWARD YOUR MESSAGE] and #[b  YOUR BRAND] using the same relationship techniques that the
            | #[b  BEST COMPANIES have used for years.]
        .row
          h3: b Is There A Guarantee?
          h4
            | Our business skyrocketed as soon as we started working with celebrities! We earned recognition,
            | people took us seriously, and we were nominated and won multiple national awards, CRUSHING
            | our competitors.
        //.row
          h3: b Here's What To Do Next:
          h4
            | Buy INSTANT CREDIBILITY!
          h4
            | Thanks for taking the time to read this letter and watch the training video! We look forward to hearing
            | from you soon!
        .row
          h4: b Thanks
          h4: b You Will Change The World
        .row
          a.btn.btn-info.btn-lg.expand(a href="https://nd306.infusionsoft.com/app/orderForms/SES-Instant-Credibility-Package" target="_blank") Get Instant Credibility!
