extends ../layout

block content
  #sales-page: .container(style='padding-bottom:30px')
    .col-xs-12
      .row.salespage-box.text-center
        h1: b Become A Big Money TV Host
        h3 John Burke
        .embed-responsive.embed-responsive-16by9
          iframe(src=('https://www.youtube.com/embed/NpF-SWfiHTE' + '?autoplay=true'), width='500', height='281', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen).embed-responsive-item
        h4 SEE HOW SIMPLE IT IS TO BECOME A BIG TIME TV HOST
        .row
          .col-xs-10.col-xs-offset-1
            a.btn.btn-lg.btn-success.btn-block(href="/courses/become-a-big-money-tv-host?dc=Laccu5uZW2&id=pwGOcSWo8V"): b Buy John Burke's Become A Big Money TV Host Course
      br

      .row.row-eq-height.text-left
        .col-sm-12.col-md-6
          .sales-boxes-content
            h3: b Get Started Now With A FREE Membership
            h2: b Become A Big Money TV Host!
            h4
              p Let me lay it out straight.
              p This opportunity is as real as it gets.
              p It’s the opportunity to make a very rewarding living as a TV host.
              p I won’t insult you and tell you how easy it is.
              p But there are some awesome shortcuts you can take to break into this lucrative business.
              p And there’s definitely one person - who stands above all the rest – who will show you the exact steps to take.
              p He’s now released what is clearly the best of its kind...
              p: b “Become A Big Money TV Host.”

            .row(style="height:15px")
            .row
              .col-xs-10.col-xs-offset-1
                a.btn.btn-lg.btn-success.btn-block(href="/courses/become-a-big-money-tv-host?dc=Laccu5uZW2&id=pwGOcSWo8V"): b Buy John Burke's Course
            // h4
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum.
            // .row
              .col-xs-10.col-xs-offset-1.text-center
                a.btn.btn-lg.btn-success.btn-block(href="/courses/become-a-big-money-tv-host"): b See John Burke's Course
        .col-sm-12.col-md-6
          .sales-boxes-content
            h3: b Get Started Now With A FREE Membership
            h2: b Become A Big Money TV Host!
            h4
              ul
                li John Burke is a <b>two-time Emmy award</b> winning television host and actor.
                &nbsp;
                li His hit program, Personal FX The Collectibles Show, ran for <b>1,100</b> live episodes over four years.
                &nbsp;
                li John worked with director James Cameron for a live documentary about The Titanic for the Discovery Channel. And he’s also been a host on Lifetime and the History Channel.
                &nbsp;
                li So John’s definitely the guy to learn from.
                &nbsp;

            .row(style="height:28px")

            // .row
              .col-xs-10.col-xs-offset-1
                a.btn.btn-lg.btn-success.btn-block(href="#"): b See John Burke's Course

            .row
              .col-xs-10.col-xs-offset-1
                a.btn.btn-lg.btn-success.btn-block(href="/courses/become-a-big-money-tv-host?dc=Laccu5uZW2&id=pwGOcSWo8V" style="bottom:10px"): b Buy John Burke's Course
      br

      .row.salespage-box
        h1.text-center: b FAQs
        .col-xs-12.col-sm-6
          h3: b How Many Lessons are there?
          h4 There are 22 prize-winning lessons.
          hr
        .col-xs-12.col-sm-6
          h3: b How much is the course?
          h4 Once you have created a FREE account, it's only $99.
          hr

      br

      .row: .salespage-box
        .row.text-center
          h2: b Get John Burke's course for only
          h1: b $99
        .row
          h3: b Who is this course for?
          h4 Taking this course is like being taken under the wing of a pro who’s been through it all, and wants to tell you what really works.
            | It’s not just the contract for your show. It’s the endorsements for products, book deals, speaking engagements...
            | (And getting other roles. Being a TV show host is the ultimate springboard.)

        .row
          h3: b Here's What To Do Next:
          h4
            | From here it's just finalizing the details. Click on the button below, sign up for a FREE account if you haven't already.
            | Then click 'Take this course' and sit back and learn how to become a big time TV host.
        .row
          h4: b Thanks
          h4: b You Will Change The World
        .row
          a.btn.btn-lg.btn-success.btn-block(href="/courses/become-a-big-money-tv-host?dc=Laccu5uZW2&id=pwGOcSWo8V"): b Buy John Burke's Course
