extends ../layout

block content
  #sales-page: .container(style='padding-bottom:30px;')
    .col-xs-12
      .row.salespage-box.text-center
        h1: b How To Create Amazing Online Courses
        h2: b By Peter Anthony Wynn
        .embed-responsive.embed-responsive-16by9
          iframe(src=('https://player.vimeo.com/video/160642266' + '?autoplay=true'), width='500', height='281', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen).embed-responsive-item

        h3: b Your Hero's Journey
        .row
          .col-xs-10.col-xs-offset-1
            //a.btn.btn-info.btn-lg.expand(a href="/files/InstantCredibilityPackage.pdf" target="_blank") Instant Credibility Package Information
            a.btn.btn-info.btn-lg.expand(a href="http://www.youwillchangetheworld.com/courses/how-to-create-amazing-online-courses" target="_blank") Get This Course Today!

      br

      .row.row-eq-height.text-center
        .col-sm-12.col-md-6
          .sales-boxes-content
            h2: b Let Us Help You!
            hr
            h4.text-left: b OUR BELIEF
            h4.text-left
              | We believe every entrepreneur, celebrity, musician, author, and person of influence
              | has a story to tell and valuable lessons to share that will help others have a higher
              | level of understanding towards their own personal journey.
            hr
            h4.text-left: b SHARING IS CARING
            h4.text-left
              | Everybody has something to share. Whether it's a personal experience or a skill, sharing
              |  information is the #[b NUMBER ONE] way for people to learn and grow.
              br
              | Entrepreneur Peter Anthony will teach you how to produce online courses for people who
              | want to share their expertise with the world.
            .row(style="margin:5px;margin-top:55px;")
              .col-xs-4
                img(src="/img/salespagePA/pa.png").img-responsive
              .col-xs-4
                img(src="/img/salespageIC/money-shot.png").img-responsive
              .col-xs-4
                img(src="/img/salespagePA/pa-2.png").img-responsive
            .row
              .col-xs-10.col-xs-offset-1.sales-box-btn-bottom
                a.btn.btn-info.btn-lg.expand(a href="http://www.youwillchangetheworld.com/courses/how-to-create-amazing-online-courses" target="_blank") Get This Course Today!
        .col-sm-12.col-md-6
          .sales-boxes-content
            h2: b What Does Buying This Course Give Me?
            hr
            h4.text-left: b LEARN AT YOUR LEISURE
            h4.text-left
              | Do you remember what it's like having to MAKE time to go to classes? With our online courses,
              | you don't have to change your schedule for ANYTHING. You can watch and listen to the course
              | whenever and wherever you want.
            hr
            h4.text-left: b UNLIMITED ACCESS
            h4.text-left
              | After your initial payment, you will have unlimited access to ALL resources of the course.
              | Unbelievable? Not at all! You may replay the lesson videos and download the course videos
              | as many times as you please. So if you ever feel like going back to a certain lesson, then
              | by all means, go right ahead! Lost a course document? No problem! Just re-download it!
            hr
            h4.text-left: b PROFESSIONAL CUSTOMER SUPPORT
            h4.text-left
              | You bought the course, but are experiences some problems? No problem! Contact us regarding your
              | problem and we will help you with our solutions as quickly and as professionally as possible!

            .row
              .col-xs-10.col-xs-offset-1.sales-box-btn-bottom
                a.btn.btn-info.btn-lg.expand(a href="http://www.youwillchangetheworld.com/courses/how-to-create-amazing-online-courses" target="_blank") Get This Course Today!
      br

      .row.salespage-box(style="padding-bottom:10px")
        .col-xs-12
          img(src="http://files.parsetfss.com/087816d2-e548-4ce5-b90e-fbecdae40a77/tfss-757622a9-3daa-4314-8316-a4287e06e971-online-course.jpg").img-responsive

      br

      .row.salespage-box
        h1.text-center: b FAQs
        .col-xs-12.col-sm-6
          h3: b How much does this course cost?
          h4
            | You can enroll in this course for $2999!
          hr
          h3: b Who is this course perfect for?
            h4
              | This course is perfect for:
              ul
                li Anyone who wants to learn!
                li People who want to better themselves through learning.
                li Individuals who have a strong desire to invest in themselves and their future.
          hr
        .col-xs-12.col-sm-6
          h3: b What is required from me to take this course?
          h4
            | You need a computer, connection to the Internet, and speakers so you can listen to the lessons.
            | If you are a super student, then grab a pen and paper to take notes.
          hr
          h3: b What will you get from this course?
          h4
            | You will learn How To Create Amazing Online Courses and become a rockstar! You will have access
            | to hours of quality content, online resources, and much more!
          hr

      br

      .row: .salespage-box
        .row.text-center
          h2: b HOW MUCH IS THAT LEVEL OF KNOWLEDGE WORTH?
          //h1: b FREE!
        .row
          h3: b So, What's The Catch...?
          h4
            | There is NO catch. Once you buy this course, it will be bound to your account forever.
            | You will be able to access the lessons anytime and anywhere - on your desktop, laptop,
            | tablet, or even mobile device. If you have questions or concerns regarding the course,
            | you may contact us for direct support!
        .row
          h3: b Is There A Guarantee?
          h4
            | Of course! You are guaranteed complete access to the course after your initial purchase. If any problems
            | come up, we will help you resolve them so you may continue to learn at your preferred pace.
        //.row
          h3: b Here's What To Do Next:
          h4
            | Buy INSTANT CREDIBILITY!
          h4
            | Thanks for taking the time to read this letter and watch the training video! We look forward to hearing
            | from you soon!
        .row
          h4: b Thanks
          h4: b You Will Change The World
        .row
          a.btn.btn-info.btn-lg.expand(a href="http://www.youwillchangetheworld.com/courses/how-to-create-amazing-online-courses" target="_blank") Get This Course Today!
