extends ../layout

block content
  .col-xs-10.col-xs-offset-1
    .row: .col-xs-12.text-left
      h1 Support
      h3 If you have a comment or have an issue on our site, please contact us at:
      p: a(href='mailto:support@youwillchangetheworld.com') support@youwillchangetheworld.com

  .col-xs-10.col-xs-offset-1
    .row: .col-xs-12.text-left
      h1 FAQ

    .row: .col-xs-12.text-left
      h3 1.) Issue Downloading PDF Attachments in Chrome
      p You can go to chrome://plugins in your Chrome browser and disable the Chrome PDF Viewer, or try opening the pdf in FireFox, IE, or Safari