extends ../layout

block content
  #affiliate-application.page: .container
    .page-header: h1 Affiliate Registration
    p Thank you for applying to our afifliate program. Our support team will reach out to you soon for a review.