nav.iconav
  a.iconav-brand(href='/', title='YWCTW', data-toggle='tooltip', data-placement='right', data-container='body')
    img(src="/img/logo-icon-dashboard.png", height="36")
  .iconav-slider
    ul.nav.nav-pills.iconav-nav
      li
        a(href='/dashboard', title='Overview', data-placement='right', data-container='body')
          span.icon.icon-home
          small.iconav-nav-label Overview
      li
        a(href='/dashboard/course', title='Courses', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-book
          small.iconav-nav-label Courses

      li
        a(href='/dashboard/files', title='Files', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-folder
          small.iconav-nav-label Files
      li
        a(href='/dashboard/analytics', title='Analytics (Soon)', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-area-graph
          small.iconav-nav-label Analytics
      li
        a(href='/dashboard/marketing-tools', title='Marketing Tools (Soon)', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-funnel
          small.iconav-nav-label Marketing
      // li
        a(href='/dashboard/marketplace', title='Marketplace (Soon)', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-shop
          small.iconav-nav-label Market Place
      li
        a(href='/dashboard/affiliate', title='Affiliate Links', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-network
          small.iconav-nav-label Affiliate
      li
        a(href='/dashboard/partner', title='Partner Codes', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-users
          small.iconav-nav-label Codes


      //li
        //a(href='#', title='Producer', data-toggle='tooltip', data-placement='right', data-container='body')
          //span.icon.icon-clapperboard
          //small.iconav-nav-label.visible-xs-block Producer

      li
        a(href='/dashboard/article', title='Articles', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-pencil
          small.iconav-nav-label Articles

      li
        a(href='/dashboard/settings', title='Settings (Soon)', data-toggle='tooltip', data-placement='right', data-container='body')
          span.icon.icon-cog
          small.iconav-nav-label Settings
