extends layout

block content
    #articles.page
        .container-fluid
            h6.dashhead-subtitle Dashboards
            h3.dashhead-title Update Email and Password	
        .row
            .col-lg-12.seperator-padding
                hr
        form(action='',method='post')
            .form-group.row.form-groupmt-20
                label.col-lg-2.control-label.email-password-label(for='email') Email
                .col-lg-4
                    input.email.form-control.br-0(type='text' value="#{useremail}",disabled )
            .row
                .col-lg-12
                    .left-seprator
                        hr
            .form-group.row.form-groupmb-30
                label.col-lg-2.control-label.email-password-label(for='current-pwd') Current Password
                .col-lg-4
                    input.current-pwd.form-control.br-0(type='password',name="currentpassword",id="currentpassword")
                    .alert.alert-danger#currentpasswordempty Please enter Current Password
            .form-group.row.form-groupmb-30
                label.col-lg-2.control-label.email-password-label(for='new-pwd') New Password
                .col-lg-4
                    input.new-pwd.form-control.br-0(type='password',name="newpassword",id="password",required="required")
                    .alert.alert-danger#passwordempty Please enter Password
            .form-group.row.form-groupmb-30
                label.col-lg-2.control-label.email-password-label(for='re-enter-pwd form-control') Re-enter Password
                .col-lg-4
                    input.re-enter-pwd.form-control.br-0(type='password',name="confirmpassword",id="confirmpassword",required="required")
                    .alert.alert-danger#confirmpasswordempty Please enter Confirm Password
            .form-group.row.form-groupmb-30
                .col-lg-6.btns-right
                    button.btn.btn-update(type='button',name="submit",onclick="UpdatePassword()") Update
                    button.btn.btn-cancel(type='button') Cancel
