extends layout

block content
  h1.text-center Explanation
  hr.article
  .row.cent: .col-xs-12(style="margin-top:50px;")
    .col-xs-12
      h3 <b>YOUR AFFILIATE LINK TO PROMOTE YWCTW COURSES:</b>
      p.ps Copy this link and paste in social media, Ads and email marketing to promote all YWCTW courses.
      h4.aff-link <a href="https://www.youwillchangetheworld.com/?ref">https://www.youwillchangetheworld.com/?ref</a>
      //- h4.aff-link <a href="https://www.youwillchangetheworld.com/?ref=#{affiliate.id}">https://www.youwillchangetheworld.com/?ref=#{affiliate.id}</a>