extends layout

block content
	#articles.page
		.container-fluid
			h6.dashhead-subtitle Dashboards
			h3.dashhead-title Messages			
			table.table.custom-table-striped
				thead
					th Message From
					th Message
					th Date
				tbody
					tr
					td geoffrey.I.berger@gmail.com
					td 
						a(href='/student/message/receivedmessage') hi	
					td.right 08/15/2020
					tr
					td brenda_jerome@yahoo.co.uk
					td 
						a(href='/student/message/receivedmessage') This is a message
					td.right 08/15/2020
					tr
					td mjgentert@gmail.com
					td 
						a(href='/student/message/receivedmessage') Hello
					td.right 08/15/2020
					tr
					td c.heldesky@gmail.com
					td 
						a(href='/student/message/receivedmessage') This is my first message
					td.right 08/15/2020
