extends layout

block content
    #articles.page
        .container-fluid
            .row
                .col-lg-12
                    span
                        a(href='javascript:history.go(-1);')
                            i.fa.fa-arrow-left(aria-hidden='true')
                            h4.message-title Messages 
            .row
                .col-lg-12.seperator-padding
                    hr
            .row.from-to-date

                .from
                    span From:	
                    span Mary Jo (mjgentert@gmail.com)
                .date
                    span Date:	
                    span 08/20/2020 : 07:00 PM
            .row
                .col-lg-12
                    textarea.form-control.messages-textarea(rows='8' placeholder='Hi, Welcome to You Will Change The World')