extends ../layout

block content

  style.
    table, th, td {
      border: 1px solid black;
      text-align: center;
    }
    @media only screen and (max-width: 600px) {
      .table-percents{
        color: #e81111;
      }
    }
    @media only screen and (min-width: 600px) {
      .table-percents{
        font-size: 32px;
        color: #e81111;
      }
      .table-big-text{
        font-size: 22px;
      }
    }


  .container: .row(style="margin-bottom:50px")
    .col-xs-12.col-md-3
      .terms-menu: .panel.panel-default
        ul.nav.nav-pills.nav-stacked
          li: a(href='/terms') Terms of Use
          li: a(href='/terms/privacy') Privacy Policy
          li: a(href='/terms/copyright') Copyright Policy
          li: a(href='/terms/instructor') Instructor Agreement
          li.active: a(href='/terms/affiliate') Affiliate Operating Agreement
    .col-xs-12.col-md-9
      h1 Affiliate Operating Agreement
      
      p THIS IS A LEGAL AGREEMENT BETWEEN YOU AND You Will Change The World, LLC BY REGISTERING YOU ARE AGREEING THAT YOU HAVE READ AND UNDERSTAND THE TERMS AND CONDITIONS OF THIS AGREEMENT AND THAT YOU AGREE TO BE LEGALLY RESPONSIBLE FOR EACH AND EVERY TERM AND CONDITION.
      
      h2 1. Overview.
      p This Agreement contains the complete terms and conditions that apply to you becoming an affiliate in You Will Change The World’s Affiliate Program. The purpose of this Agreement is to allow you to make referrals from your website, email list and social media to the You Will Change The World website in the manner set forth herein. Please note that throughout this Agreement, "we," "us," and "our" will mean You Will Change The World, and "you," "your," and "yours" will mean you, the affiliate.
      
      h2 2. Enrollment in the Affiliate Program.
      p (a) Completion of the Application: If you have not already done so, you need to complete an application to the Affiliate Program. You need to identify your website, describe how you plan to implement the program, provide certain contact information. The application can be found at <a href="http://www.youwillchangetheworld.com/affiliates">http://www.youwillchangetheworld.com/affiliates</a>.
      p (b) Acceptance of Your Application. You understand that we may accept or reject your application at our sole discretion. Your application will be rejected if any of the information you provide is incorrect or incomplete, or if your website promotes materials of a sexual, pornographic, violent, or defamatory nature, or if you or your website discriminate, violate any applicable law, violate any person’s intellectual property rights.
      p (c) You Will Be Given a Password to Access Specific Affiliate Information: You will be given a password so that you may enter our secure Affiliate Center. From this website you will be able to download the Referral Specifications and Referral Materials and receive your reports that will describe our calculation of the Referral Fees due to you. It is your responsibility to keep your username and password information secure.
      
      h2 3. As an Affiliate What You Have to Do.
      p (a) Link to Our Site:
      p (i) As a member of You Will Change The World’s Affiliate Program, you will implement the links, widgets, ads and other means of linking your website to our website pursuant to the Referral Specifications set forth at <a href="www.youwillchangetheworld.com/afiliates">www.youwillchangetheworld.com/afiliates</a>. At this site you will be able to download certain technical materials, including without limitations, links, HTML code, other software or applications, widgets, pixels, associated banner ads, copy and other content, and any documentation for the foregoing (collectively, “Referral Materials”).
      p (ii) We have the right to monitor your website and social media as we feel necessary to make sure that you have used the Referral Materials and implemented and maintained the Referral Specifications properly. We will notify you of any changes that we feel should be made. Any failure by you to use the Referral Materials properly or to implement changes that we request will be a violation of this Agreement and grounds for termination.
      p (b) Give Us Your Full Cooperation: You agree to cooperate with us fully to establish and maintain any links between the our website and your website.
      p (c) Maintain Your Site: The maintenance and the updating of your website will be your responsibility. Because you are a member of our Affiliate Program and our information is updated often, it will be necessary for you to update the Referral Materials on your website on a regular basis to maintain consistency and accuracy between the our website and the Referral Specifications. We may monitor your website as we feel necessary to make sure it is up-to-date and to notify you of any changes we feel should be made, which changes you will promptly implement.
      p (d) Follow All Copyright Laws: It is entirely your responsibility to follow all applicable copyright and other laws that pertain to your website. You must have express permission to use any person's copyrighted material, whether it be a writing, an image, or any other copyrightable work. We will not be responsible if you use another person's copyrighted material in violation of the law.
      
      h2 4. As an Affiliate What You Need to Know and Understand.
      p (a) We Can Monitor Your Site: You give us the right to monitor your website at any time to determine if you are following the terms and conditions of this Agreement, and to notify you of any changes we feel you should make to remain in compliance. Failure to comply is a violation of this Agreement and grounds for termination.
      p (b) We Determine the Policies for the Purchases: Customers who purchase products through referrals made in the Affiliate Program will be considered our customers. All our rules, policies, and operating procedures concerning customer orders and customer service will apply to those customers. We may change our policies and operating procedures at any time.
      p (c) You Cannot Send Out Publicity Without Our Consent: You may not create, publish, distribute, or permit any written or electronically transmitted publicity material that makes reference to us without first submitting the material to us and receiving our consent.
      p (d) Starting Date of this Agreement: This Agreement will begin upon our acceptance of your Affiliate application.
      p (e) How this Agreement can be Ended: Either you or we may end this Agreement AT ANY TIME, with or without cause, by giving the other party written notice. Written notice can be in the form of mail, email or fax.
      p (f) We Can Modify this Agreement: We may modify any of the terms and conditions in this Agreement, at any time in our sole discretion. You will be notified by email and a change notice will be posted at <a href="www.youwillchangetheworld.com/affiliates">www.youwillchangetheworld.com/affiliates</a>. Modifications may include, but are not limited to, changes in the scope of Referral Fees, payment procedures, and Affiliate Program rules, or to Referral Specifications or Referral Materials. If any modification is unacceptable to you, your only option is to end this Agreement. Your continued participation in the Affiliate Program following the posting of the change notice or new agreement on our site will indicate your agreement to the changes.
      
      h2 5. As an Affiliate What You Receive.
      p (a) You Earn Referral Fees: Except in states in which such a transaction is not permitted, you are eligible to earn Referral Fees during the term of this Agreement. We may withhold your final payment for a reasonable time to ensure that the correct amount is paid. The exact amount of Referral Fees due to you in any given quarter will be calculated in the following manner:
      p (i) The Referral Fee shall be fourty percent (40%) of the amount actually received by us from a Referral that enrolls in a course on our website (Unless it is a VIP or Celebrity course) within thirty (30) days of our receiving the Referral, less taxes, returns, credits, and shipping. A “Referral” is a person that you refer from your website or social media to our website using the Referral Materials in accordance with the Referral Specifications. Final determination as to whether to accept a Referral as a customer is at our sole determination. After 30 days the Referral Fee shall be twenty percent (20%) of the amount actually received by us from a Referral that enrols in a course on our website (Unless it is a VIP or Celebrity course) less taxes, returns, credits and shipping.
      p (ii) A second tier Referral Fee of five percent (5%) of the amount actually received by us from any affiliate (you register) and their referral enrols in a course on our website (Unless it is a VIP or Celebrity course). See the table below.
      p (iii) If we determine that payment of Referral Fees to you in any jurisdiction is illegal under any laws, then we may reserve the right to not pay Referral Fees for any sales made in that jurisdiction.
      .col-xs-12
        table.table.table-responsive(style="border: 1px solid black;")
          thead(style="background: black; color: white;")
              tr: th(colspan="3" class="table-big-text") <b>You Will Change The World (YWCTW) Affiliate Commisions</b>
          tbody
              tr(style="background: #d0d0d0; font-weight: bold;" class="table-big-text")
                  td Courses/Affiliate Commisions
                  td Commisions Paid Within The First 30 Days When Leads Register Into A Free Or Paid Course
                  td Lifetime Commisions Paid After First 30 Days From Initial Registration
              tr
                  td(style="background: #d0d0d0; font-weight: bold;" class="table-big-text") Promoting YWCTW Courses
                  td <b class="table-percents">40%</b> <br> Affiliates recieve 40% of revenue that their traffic generates for YWCTW courses. This may exclude VIP and Celebrity courses.
                  td <b class="table-percents">20%</b> <br> Affiliates recieve 20% of revenue that their traffic generates for YWCTW courses excluding VIP and Celebrity courses.
              tr
                  td(style="background: #d0d0d0; font-weight: bold;" class="table-big-text") Promoting YWCTW VIP & Celebrity Courses
                  td <b class="table-percents">10-40%</b> <br> Affiliates can recieve up to 10-40% of all revenue that their traffic generates for the sale of any YWCTW VIP and 
                  td <b class="table-percents">*</b> <br> Affiliate commisions on based on the celebrity
              tr
                  td(style="background: #d0d0d0; font-weight: bold;" class="table-big-text") Second Tier Commisions For Signing Up New YWCTW Affiliates
                  td <b class="table-percents">5%</b> <br> When Affiliate signs new Affiliates, they recieve 5% commision on any sales the new affiliate create.
                  td <b class="table-percents">5%</b> <br> When an Affiliate signs new Affiliates, they recieve 5% commision on any sales the new Affiliate creates.
      p (iii) The YWCTW platform has last cookie tracking. This means that the last affiliate who promoted to the Referral gets credited the commission based on the opt-in into You Will Change The World platform. Any sales of courses to that Referral for life, gets credited to the affiliate that got the opt-in.
      p (iv) Payment of Referral Fees will be made on the 15th of each month after a 30 day cooling off period, but only if your unpaid, cumulative Referral Fee earnings exceed $50. If your unpaid, cumulative Advertising Fee earnings are less than $50, they will be rolled to the following payment date. If this Agreement terminates, Referral Fees due at the time of termination will be paid at the end of the quarter following termination. Referral Fees are based on amounts we actually receive from Referral customers during each month. Payment of Referral Fees will only be made if you have completed your Profile in full inside the Affiliate Center; this is compulsory.
      p (v) If we determine that payment of Referral Fees to you in any jurisdiction is illegal under any laws, then we may reserve the right to not pay Referral Fees for any sales made in that jurisdiction.

      h2 6. Grant of Licenses.
      p (a) Subject to all the terms and conditions of this Agreement, we grant to you a non-exclusive, non-transferable, revocable right to: (i) grant your end-users access to our website solely through the Referral Materials used in accordance with the Referral Specifications and (ii) solely in connection with such activities, to use the Referral Materials and Referral Specifications. You may not alter, modify, or change the Link Referral Materials and Referral Specifications in any way. You are only entitled to use the Referral Materials and Referral Specifications to the extent that you are a member in good standing of our Affiliate Program.
      p (b) You grant to us a non-exclusive, non-transferable, revocable right to use your names, titles, and logos in the advertising, marketing, promoting, and publicizing in any manner of our rights under this Agreement. However, we are under no obligation to so advertise, market, promote, or publicize.
      p (c) Each party agrees not to use the other's proprietary materials in any manner that is disparaging or that otherwise portrays the party in a negative light. Each party reserves all of its respective rights in the proprietary materials covered by this license. Either party may revoke this license at any time by giving the other party written notice. Other than the license granted in this Agreement, each party retains all right, title, and interest to its respective rights and no right, title, or interest is transferred to the other.
      
      h2 7. As An Affiliate More Things You Need To Know and Understand.
      p (a) Disclaimer: WE MAKE NO EXPRESS OR IMPLIED REPRESENTATIONS OR WARRANTIES REGARDING You Will Change The World. ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, RELIABILITY AND NON-INFRINGEMENT ARE EXPRESSLY DISCLAIMED AND EXCLUDED. IN ADDITION, WE MAKE NO REPRESENTATION THAT THE OPERATION OF OUR WEBSITE WILL BE UNINTERRUPTED OR ERROR FREE, AND WE WILL NOT BE LIABLE FOR THE CONSEQUENCES OF ANY INTERRUPTIONS OR ERRORS.
      p (b) Representations and Warranties: You represent and warrant to us that:
      p (i) This Agreement has been duly and validly executed and delivered by you and constitutes your legal, valid, and binding obligation, enforceable against you in accordance with its terms;
      p (ii) You have the full right, power, and authority to enter into and be bound by the terms and conditions of this Agreement and to perform your obligations under this Agreement, without the approval or consent of any other party;
      p (iii) You have sufficient right, title, and interest in and to the rights granted to us in this Agreement; and,
      p (c) Limitations of Liability: WE WILL NOT BE LIABLE TO YOU WITH RESPECT TO ANY SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY, OR OTHER LEGAL OR EQUITABLE THEORY FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, OR EXEMPLARY DAMAGES (INCLUDING, WITHOUT LIMITATION, LOSS OF REVENUE OR GOODWILL OR ANTICIPATED PROFITS OR LOST BUSINESS), EVEN IF YOU HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. FURTHER, NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED IN THIS AGREEMENT, IN NO EVENT SHALL OUR CUMULATIVE LIABILITY TO YOU ARISING OUT OF OR RELATED TO THIS AGREEMENT, WHETHER BASED IN CONTRACT, NEGLIGENCE, STRICT LIABILITY, TORT, OR OTHER LEGAL OR EQUITABLE THEORY, EXCEED THE TOTAL REFERRAL FEES PAID TO YOU UNDER THIS AGREEMENT.
      p (d) Indemnification: You agree to indemnify and hold harmless You Will Change The World and its employees, representatives, agents, and affiliates, against any and all claims, suits, actions, or other proceedings brought against them based on or arising from any claim resulting from your breach of this Agreement. You will pay any and all costs, damages, and expenses, including, but not limited to, reasonable attorneys' fees and costs awarded against or otherwise incurred by us in connection with or arising from any such claim, suit, action, or proceeding.
      p (e) Miscellaneous:
      p (i) Each party shall be deemed to be independent contractors with respect to the subject matter of this Agreement, and nothing contained in this Agreement shall be deemed or construed in any manner as creating any partnership, joint venture, employment, agency, fiduciary, or other similar relationship.
      p (ii) You may not assign your rights or obligations under this Agreement to any party, and any attempt to do so will be void and without effect. We are free to assign this Agreement.
      p (iii) This Agreement shall be governed by and interpreted in accordance with the laws of the State of Nevada without regard to the conflicts of laws and principles thereof.
      p (iv) You may not amend or waive any provision of this Agreement unless in writing and signed by both parties.
      p (v) This Agreement represents the entire agreement between us and you, and shall supersede all prior agreements and communications of the parties, oral or written.
      p (vi) The headings and titles contained in this Agreement are included for convenience only, and shall not limit or otherwise affect the terms of this Agreement.
      p (vii) If any provision of this Agreement is held to be invalid or unenforceable, that provision shall be eliminated or limited to the minimum extent necessary such that the intent of the parties is effectuated, and the remainder of this agreement shall have full force and effect.
      p (viii) YOU HAVE READ AND TAKEN INTO ACCOUNT THE LIMITATION OF LIABILITY AND WARRANTY DISCLAIM PROVISIONS OF THIS AGREEMENT PRIOR TO ACCEPTING THIS AGREEMENT.
      
