extends ../layout

block content
  .container: .row(style="margin-bottom:50px")
    .col-xs-12.col-md-3
      .terms-menu: .panel.panel-default
        ul.nav.nav-pills.nav-stacked
          li: a(href='/terms') Terms of Use
          li: a(href='/terms/privacy') Privacy Policy
          li.active: a(href='/terms/copyright') Copyright Policy
          li: a(href='/terms/instructor') Instructor Agreement
          li: a(href='/terms/affiliate') Affiliate Operating Agreement
    .col-xs-12.col-md-9
      h1 Copyright Policy
      
      h2 1. Notice and Procedure for Making Claims of Copyright or Other Intellectual Property Infringements.
      p You Will Change The World, LLC respects the intellectual property of others and takes the protection of copyrights and all other intellectual property very seriously, and we ask our instructors, students and other users of our website and services (the “Site”) to do the same. Infringing activity will not be tolerated on or through the Site.
      p You Will Change The World’s intellectual property policy is to (a) remove material that You Will Change The World believes in good faith, upon notice from an intellectual property owner or their agent, is infringing the intellectual property of a third party by being made available through the Site, and (b) remove any Submitted Content posted to the Site by "repeat infringers." You Will Change The World considers a "repeat infringer" to be any User that has uploaded Submitted Content to the Site and for whom You Will Change The World has received more than two takedown notices compliant with the provisions of 17 U.S.C. 512(c) with respect to such Submitted Content. You Will Change The World has discretion, however, to terminate the account of any User after receipt of a single notification of claimed infringement or upon You Will Change The World’s own determination.
      
      h2 2. Procedure for Reporting Claimed Infringement.
      p If you believe that any content made available on or through the Site has been used or exploited in a manner that infringes an intellectual property right you own or control, then please promptly send a "Notification of Claimed Infringement" containing the following information to the Designated Agent identified below. Your communication must include substantially the following;
      ul
        li A physical or electronic signature of a person authorized to act on behalf of the owner of the work(s) that has/have been allegedly infringed;
        li Identification of works or materials being infringed, or, if multiple works are covered by a single notification, a representative list of such works;
        li Identification of the specific material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit You Will Change The World to locate the material;
        li Information reasonably sufficient to permit You Will Change The World to contact you, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted;
        li A statement that you have a good faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
        li A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
      p You should consult with your own lawyer and/or see 17 U.S.C. 512 to confirm your obligations to provide a valid notice of claimed infringement.
      
      h2 3. Designated Agent Contact Information.
      p You Will Change The World’s Designated Agent for notices of claimed infringement can be contacted at:
      ul
        li Via E-mail: <a href='mailto:copyright@youwillchangetheworld.com'>copyright@youwillchangetheworld.com</a>
        li Via U.S. Mail: You Will Change The World, LLC 9205 W Russel Rd. Suite 240 Las Vegas, NV 89143 Attn: Copyright Department
      
      h2 4. Counter Notification.
      p If you receive a notification from You Will Change The World that material made available by you on or through the Site has been the subject of a Notification of Claimed Infringement, then you will have the right to provide You Will Change The World with what is called a "Counter Notification." To be effective, a Counter Notification must be in writing, provided to Company's Designated Agent through one of the methods identified above, and include substantially the following information:
      ul
        li A physical or electronic signature of the subscriber;
        li Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;
        li A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and
        li The subscriber's name, address, and telephone number, and a statement that the subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if the subscriber's address is outside of the United States, for any judicial district in which Company may be found, and that the subscriber will accept service of process from the person who provided notification above or an agent of such person.
      p A party submitting a Counter Notification should consult a lawyer or see 17 U.S.C. 512 to confirm the party's obligations to provide a valid counter notification under the Copyright Act.
      
      h2 5. False Notifications of Claimed Infringement or Counter Notifications.
      p The Copyright Act provides that:
      p [a]ny person who knowingly materially misrepresents under [Section 512 of the Copyright Act (17 U.S.C. 512)] (1) that material or activity is infringing, or (2) that material or activity was removed or disabled by mistake or misidentification, shall be liable for any damages, including costs and attorneys' fees, incurred by the alleged infringer, by any copyright owner or copyright owner's authorized licensee, or by a service provider, who is injured by such misrepresentation, as the result of [You Will Change The World] relying upon such misrepresentation in removing or disabling access to the material or activity claimed to be infringing, or in replacing the removed material or ceasing to disable access to it.
      p 17 U.S.C. 512(f).
      p You Will Change The World reserves the right to seek damages from any party that submits a notification of claimed infringement or counter notification in violation of the law.
      p For the avoidance of doubt, only notices submitted under the Digital Millennium Copyright Act and the procedures set forth in this section should be sent to the Designated Agent at <a href='mailto:copyright@youwillchangetheworld.com'>copyright@youwillchangetheworld.com</a> or to the postal address identified above. Any other comments, compliments, complaints or suggestions about You Will Change The World, the operation of the Site or any other matter should be sent to <a href='mailto:info@youwillchangetheworld.com'>info@youwillchangetheworld.com</a>.
