extends ../layout

block content

  div(style="background-color:#000;margin-top:-21px;"): .container: .profile-header.text-center(style="background-image:url('/img/instructors/become/header.png');background-repeat:no-repeat;background-position:center;")
  .container-fluid
    .row(style="padding:15px 0 25px 0;")
      h1.text-center: b “Who is Curating Your Legacy?”

    .row: .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      .embed-responsive.embed-responsive-16by9
        iframe(src='https://www.youtube.com/embed/Ah8zwe8jHKU'), width='500', height='281', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen).embed-responsive-item

    .row(style="padding:25px 0 15px 0;"): .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      p: h4 You have worked hard, you have earned awards, made a statement, won championships, achieved stature. You have placed yourself inside a deep
              | knowledge of your field and have learned through experience and sharing.
      p: h4 You will confidently build a course that you can proudly share with the world to pass on your mentorship and expertise while installing
              | confidence in others to take on their own extraordinary personal journey. YWCTW will protect your IP and expand your Global reach, allowing
              | you to move forward with the endeavors that will make the greatest impact to the world. Our only mission is to have you live your expertise
              | while we will passionately progress the technology that supports it. Simplified, YWCTW will build the most technologically advanced internet
              | platform and culture to promote and protect your online course and ALL associated IP.  We are completely dedicated to the support of your entire
              | business model that allows you the greatest time freedom and highest level of profit and long term residual income available anywhere in the world.
              | We recognize that your image and first impression is the foundation of your growth. YWCTW is excited to create not only the greatest cultural platform
              | in the world for your course, but the most exciting user experience available for your students.
      p: h3 <b>Our Promise</b> (based on the agreement of both parties & approval of YWCTW review board):
      p: h4 YWCTW will completely stand behind the development of all approved genres and offer to the Instructor one year after the completion & release of the course,
              | a full refund of their investment if the course has not paid for itself through the effort of the instructor. YWCTW will purchase the entire set of courses
              | from the instructor and allow the instructor to retain 10% of the income of the course, if any for life. In short if they do not make their money BACK we will
              | buy their course and sell it ourselves. (We will buy back the property; it will transfer completely to YWCTW)


    .row
      h1.text-center: b Would you like to become an instructor on our platform?
      h2.text-center We'll guide you through the 5 following stages:

    .row(style="background-color:rgba(230,230,230,.4);padding-top:15px;padding-bottom:15px")
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .row
          .col-xs-12.col-sm-6.vcenter
            img(src="/img/instructors/become/identify-design.png")(style="max-height:170px;margin-right:auto;margin-left:auto;").img-responsive
          .col-xs-12.col-sm-6.vcenter
            .row.text-center
              h2: b 1. Identify & Design
            .row
              h4
                | What do you have in mind? What's your plan? We can help you figure everything out, so what are the first steps? Identify your cause,
                | design your product. We will first help you articulate an Outcome for your student and then we will create the perfect avatar allowing
                | you to develop a very specific class with a clear direction to help others.
              ul(style="font-size:16px;font-weight:bold;")
                li Storyboards
                li Scripts
                li Blueprints
                li Avatar Identification

    .row(style="padding-top:15px;padding-bottom:15px")
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .row
          .col-xs-12.col-sm-6.vcenter
            .row.text-center
              h2: b 2. Build
            .row
              h4
                | Now that you have identified your expertise or gift and have a design in mind, we will help you make it reality. Our proprietary
                | methods of course development will be sure to take your ideas and expertise to the next level. In the Build Stage your outcome is
                | the center of attention and integrated into every component. We focus on the importance of “story telling” to teach. We are with
                | you in every step of the process and our experts never forget to help you share what best represents your years of expertise and
                | the legacy that will be built around this.
              ul(style="font-size:16px;font-weight:bold;")
                li Content Structure and Delivery
                li Resources
                li Videos Production
                li Transition & Message Support
                li Work Book/Challenges/Tests
          .col-xs-12.col-sm-6.vcenter
            img(src="/img/instructors/become/build.png")(style="max-height:170px;margin-right:auto;margin-left:auto;").img-responsive

    .row(style="background-color:rgba(230,230,230,.4);padding-top:15px;padding-bottom:15px")
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .row
          .col-xs-12.col-sm-6.vcenter
            img(src="/img/instructors/become/launch.png")(style="max-height:170px;margin-right:auto;margin-left:auto;").img-responsive
          .col-xs-12.col-sm-6.vcenter
            .row.text-center
              h2: b 3. Launch
            .row
              h4
                | Everything's recorded. Your descriptions are on paper. You have resources made for your future student body.
                | So, what's next? We put it up LIVE on our website for everyone to check out! You are now part of the greatest
                | “Online Course Platform & Culture” in history.
              ul(style="font-size:16px;font-weight:bold;")
                li Instructors Page
                li Affiliate Links
                li Online Access
                li Propietary Dashboard
                li Sales Process “powered by BrainTree a professional division of PayPal”

    .row(style="padding-top:15px;padding-bottom:15px")
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .row
          .col-xs-12.col-sm-6.vcenter
            .row.text-center
              h2: b 4. Market
            .row
              h4
                | Once your course is up on our website, all we have to do is start getting people to take it. But how?
                | Tell your friends and family, share it on social media, or market it in any way you see fit! We will
                | also be helping you market your course, but no one knows your course better than you do!
              ul(style="font-size:16px;font-weight:bold;")
                li Branding Yourself
                li Learn Advertising & Marketing Techniques
                li Create an Amazing Student Database
          .col-xs-12.col-sm-6.vcenter
            img(src="/img/instructors/become/market.png")(style="max-height:170px;margin-right:auto;margin-left:auto;").img-responsive

    .row(style="background-color:rgba(230,230,230,.4);padding-top:15px;padding-bottom:15px")
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .row
          .col-xs-12.col-sm-6.vcenter
            img(src="/img/instructors/become/grow.png")(style="max-height:170px;margin-right:auto;margin-left:auto;").img-responsive
          .col-xs-12.col-sm-6.vcenter
            .row.text-center
              h2: b 5. Grow
            .row
              h4
                | With Growth you will become successful, with growth you will help others become successful. As we help you
                | create your online course ALL aspects of your branding and your message will become clear and articulated. You will be
                | able to share your message and your platform easily with the world. Nothing will change the world like sharing intellectual
                | resources that will make a real difference in peoples lives.
              ul(style="font-size:16px;font-weight:bold;")
                li Your Brand Will Change & Evolve
                li Your Legacy Will be Protected and Nurtured
                li Your Network Will Grow and Develop


    br
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
      table.table.table-bordered
        tr
          th
          th.text-center You
          th.text-center Fellow Instructor
          th.text-center Platform
        tr.h3
          td.h4
            | When a student buys your course, you get 90% of all the revenue.
          td.text-center: b 90%
          td.text-center -
          td.text-center 10%
        tr.h3
          td.h4
            | Within the first 90 days of your student(s), if your student buys another instructor's course, you get 50% of
            | that revenue.
          td.text-center: b 50%
          td.text-center 25%
          td.text-center 25%
        tr.h3
          td.h4
            | FOR LIFE after 90 days of the arrival of your student(s), you will receive 30% of all the revenue they spend on other instructors' courses.
          td.text-center: b 30%
          td.text-center 35%
          td.text-center 35%
        tr.h3
          td.h4 FOR LIFE after 90 days of the arrival of your student(s), you will receive up to 10% of all the revenue that their traffic generates for the sale of VIP & Celebrity instructor’s courses.
          td.text-center: b 10%
          td.text-center 60%
          td.text-center 30%
    .row
      .col-xs-6.col-xs-offset-3
        p: a.btn.btn-lg.btn-primary.expand(href='mailto:info@youwillchangetheworld.com') Register to Become an Instructor!
        // p: a.btn.btn-lg.btn-primary.expand(href='/instructors/register') Register to Become an Instructor!

  br