extends ../layout

block content
  h1.page-header Admin - Assets

  ul
    li: a(style='position:relative; display:block; padding: 7px 15px; color:#555555;' href='/admin/assets/ywctwImages'): h4 YWCTW Images
    li: a(style='position:relative; display:block; padding: 7px 15px; color:#555555;' href='/admin/assets/pa'): h4 Peter Anthony Wynn