extends ../layout

block content
  h1.page-header Admin - Assets - Peter Anthony Wynn

  h3 PA Headshot
  img(style="width:15%;", src="/img/admin/assets/pa/peter-anthony-wynn-headshot.png").img-responsive