extends ../layout

block content
  h1.page-header Admin - Assets - YWCTW Images

  h3 YWCTW White Long
  img(style="width:60%;", src="/img/admin/assets/ywctw-white.png")

  h3 YWCTW Black Long
  img(style="width:60%;", src="/img/admin/assets/ywctw-black.png")

  h3 YWCTW Black/White Logo
  img(style="width:50%;", src="/img/admin/assets/logo-black-white.jpeg")