.list-group
  a(href='/dashboard/admin/site').list-group-item Site
  a(href='/dashboard/admin/instructors').list-group-item Instructors
  a(href='/dashboard/admin/courses').list-group-item Courses
  a(href='/dashboard/admin/affiliates').list-group-item Affiliates
  a(href='/dashboard/admin/users').list-group-item Users
