.col-sm-3.col-md-2.sidebar(style='position:fixed;height:100%;')
  ul.nav.nav-sidebar
    li: a(style='color:#555555;' href='/admin'): h4 Admin Home

    li(style='position:relative; display:block; padding: 7px 15px;'): h4 Instructor
      ul
        li: a(style='color:#555555;' href='/admin/instructors'): h5 Instructor List
        li: a(style='color:#555555;' href='/admin/instructors/add'): h5 Add Instructor
        li: a(style='color:#555555;' href='/admin/instructors/affiliateList'): h5 Affiliate List

    li(style='position:relative; display:block; padding: 7px 15px;'): h4 Course
      ul
        li: a(style='color:#555555;' href='/admin/course'): h5 Course List
        li: a(style='color:#555555;' href='/admin/course/add'): h5 Add Course
        // li: a(style='color:#555555;' href='/admin/course/lesson'): h5 Add Lesson

    li(style='position:relative; display:block; padding: 7px 15px;'): h4 Article
      ul
        li: a(style='color:#555555;' href='/admin/article'): h5 Article List
        li: a(style='color:#555555;' href='/admin/article/add'): h5 Add Article

    li(style='position:relative; display:block; padding: 7px 15px;'): h4 Users
      ul
        li: a(style='color:#555555;' href='/admin/users/search'): h5 Find User

    li(style='position:relative; display:block; padding: 7px 15px;'): h4 Enrollment
      ul
        li: a(style='color:#555555;' href='/admin/enrollment'): h5 Enrollment List
        li: a(style='color:#555555;' href='/admin/enrollment/enroll'): h5 Enrollment Tool

    li(style='position:relative; display:block; padding: 7px 15px;'): h4 Events
      ul
        li: a(style='color:#555555;' href='/admin/event'): h5 Event List
        li: a(style='color:#555555;' href='/admin/event/add'): h5 Add Event
        
    li(style='position:relative; display:block; padding: 7px 15px; '): a(style='color:#555555;' href='/admin/files'): h4 Files & Video  

    li(style='position:relative; display:block; padding: 7px 15px;'): a(style='color:#555555;' href='/admin/assets'): h4 Assets

    li(style='position:relative; display:block; padding: 7px 15px;'): a(style='color:#555555;' href='/auth/logout'): h4 SignOut
